<head>
  <title>Degweb</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<style>
body {
  background-color: #18BC9C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  margin-top: 150px;
  background-color: white;
  width: 400px;
}

input#session-remember-me {
  background-color: red;
}

.checkbox-inline {
  margin-left: 100px;
}

.login-checkbox {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.login-panel p {
  padding-top: 20px;
}

.login-panel .btn {
  margin-top: 10px;
}

#error {
  color: red;
  font-size: 13px;
  padding: 10px;
  margin-left: 70px;
}


</style>

<div class="panel panel-primary login-container">
  <div class="panel-heading">
    <h3 class="panel-title">DEGWEB Admin Login</h3>
  </div>
  <div class="panel-body login-panel">

  <% if flash[:danger] %>
  <div id="error"><%= flash[:danger] %></div>
  <% end %>

    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <div class="login-checkbox">
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span "remember-me">Remember me on this computer</span>
      <% end %>
      </div>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p><%= link_to "Admin Test Sign Up", signup_path %></p>
   
  </div>
</div>

