<%= form_for :inquiry, url: inquiries_path do |f| %>

  <% if @inquiry.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@inquiry.errors.count, "error") %> prohibited
        this inquiry from being saved:
      </h2>
      <ul>
        <% @inquiry.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h3>Submit a Database Inquiry</h3>
  <br>
  <div class="form-field col-lg-9">
    <h4>Contact Information</h4>
    <hr>
    <div class="form-group">
      <%= f.label :name, :class => "col-lg-4 form-label" %>
      <div class="col-lg-8">
        <%= f.text_field :name, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :title, :class => "col-lg-4 form-label"  %>
      <div class="col-lg-8">
        <%= f.text_field :title, :class => "form-control"  %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :shop_name, :class => "col-lg-4 form-label" %>
      <div class="col-lg-8">
        <%= f.text_field :shop_name, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :address_1, :class => "col-lg-4 form-label" %>
      <div class="col-lg-8">
        <%= f.text_field :address_1, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :address_2, :class => "col-lg-4 form-label" %>
      <div class="col-lg-8">
        <%= f.text_field :address_2, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :city, :class => "col-lg-4 form-label" %>
      <div class="col-lg-8">
        <%= f.text_field :city, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :state, :class => "col-lg-4 form-label" %>
      <div class="col-lg-8">
        <%= f.select(:state, options_for_select([['<select>', ' '],
                                                 ['Alaska', 'AK'],
                                                 ['Arizona', 'AZ'],
                                                 ['Arkansas', 'AR'],
                                                 ['California', 'CA'],
                                                 ['Colorado', 'CO'],
                                                 ['Connecticut', 'CT'],
                                                 ['Delaware', 'DE'],
                                                 ['Florida', 'FL'],
                                                 ['Georgia', 'GA'],
                                                 ['Hawaii', 'HI'],
                                                 ['Idaho', 'ID'],
                                                 ['Illinois', 'IL'],
                                                 ['Indiana', 'IN'],
                                                 ['Iowa', 'IA'],
                                                 ['Kansas', 'KS'],
                                                 ['Kentucky', 'KY'],
                                                 ['Louisiana', 'LA'],
                                                 ['Maine', 'ME'],
                                                 ['Maryland', 'MD'],
                                                 ['Massachusetts', 'MA'],
                                                 ['Michigan', 'MI'],
                                                 ['Minnesota', 'MN'],
                                                 ['Mississippi', 'MS'],
                                                 ['Missouri','MO'],
                                                 ['Montana', 'MT'],
                                                 ['Nebraska', 'NE'],
                                                 ['Nevada ', 'NV'],
                                                 ['New Hampshire', 'NH'],
                                                 ['New Jersey', 'NJ'],
                                                 ['New Mexico', 'NM'],
                                                 ['New York', 'NY'],
                                                 ['North Carolina', 'NC'],
                                                 ['North Dakota', 'ND'],
                                                 ['Ohio', 'OH'],
                                                 ['Oklahoma', 'OK'],
                                                 ['Oregon', 'OR'],
                                                 ['Pennsylvania', 'PA'],
                                                 ['Rhode Island', 'RI'],
                                                 ['South Carolina', 'SC'],
                                                 ['South Dakota', 'SD'],
                                                 ['Tennessee', 'TN'],
                                                 ['Texas', 'TX'],
                                                 ['Utah', 'UT'],
                                                 ['Vermont', 'VT'],
                                                 ['Virginia', 'VA'],
                                                 ['Washington', 'WA'],
                                                 ['West Virginia', 'WV'],
                                                 ['Wisconsin', 'WI'],
                                                 ['Wyoming', 'WY']]), {}, {class: 'form-control'}) %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :zip_code, :class => "col-lg-4 form-label" %>
      <div class="col-lg-8">
        <%= f.text_field :zip_code, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :phone, :class => "col-lg-4 form-label" %>
      <div class="col-lg-8">
        <%= f.text_field :phone, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :fax, :class => "col-lg-4 form-label" %>
      <div class="col-lg-8">
        <%= f.text_field :fax, :class => "form-control" %>
        <i>Optional</i>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :email, :class => "col-lg-4 form-label" %>
      <div class="col-lg-8">
        <%= f.text_field :email, :class => "form-control" %>
      </div>
    </div>
  </div>

  <br>
  <div class="form-field col-lg-9">
    <h4>Vehicle</h4>
    <hr>
    <div class="form-group">
      <%= f.label :make, :class => "col-lg-4 form-label" %>
      <div class="col-lg-8">
        <%= f.select(:make, options_for_select([['<select>', ' '],
                                                ['Acura', 'Acura'],
                                                ['Alfa Romeo', 'Alfa Romeo'],
                                                ['Aston Martin', 'Aston Martin'],
                                                ['Audi', 'Audi'],
                                                ['Bentley', 'Bentley'],
                                                ['BMW', 'BMW'],
                                                ['Buick', 'Buick'],
                                                ['Cadillac', 'Cadillac'],
                                                ['Chevrolet', 'Chevrolet'],
                                                ['Chrysler', 'Chrysler'],
                                                ['Dodge', 'Dodge'],
                                                ['Ferrari', 'Ferrari'],
                                                ['FIAT', 'FIAT'],
                                                ['Ford', 'Ford'],
                                                ['Freightliner', 'Freightliner'],
                                                ['GMC', 'GMC'],
                                                ['Honda', 'Honda'],
                                                ['Hyundai', 'Hyundai'],
                                                ['Infiniti', 'Infiniti'],
                                                ['Jaguar', 'Jaguar'],
                                                ['Jeep', 'Jeep'],
                                                ['Kia', 'Kia'],
                                                ['Lamborghini', 'Lamborghini'],
                                                ['Land Rover', 'Land Rover'],
                                                ['Lexus', 'Lexus'],
                                                ['Lincoln', 'Lincoln'],
                                                ['Maserati', 'Maserati'],
                                                ['Mazda', 'Mazda'],
                                                ['McLaren', 'McLaren'],
                                                ['Mercedes-Benz', 'Mercedes-Benz'],
                                                ['MINI', 'MINI'],
                                                ['Mitsubishi', 'Mitsubishi'],
                                                ['Nissan', 'Nissan'],
                                                ['Porsche', 'Porsche'],
                                                ['Ram', 'Ram'],
                                                ['Rolls-Royce', 'Rolls-Royce'],
                                                ['Scion', 'Scion'],
                                                ['Smart', 'Smart'],
                                                ['Subaru', 'Subaru'],
                                                ['Tesla', 'Tesla'],
                                                ['Toyota', 'Toyota'],
                                                ['Volkswagen', 'Volkswagen'],
                                                ['Volvo', 'Volvo'],
                                                ['Other', 'Other']]), {}, {class: 'form-control'}) %>
        <%= f.text_field :make_other_field, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :model, :class => "col-lg-4 form-label" %>
      <div class="col-lg-8">
        <%= f.text_field :model, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :year, :class => "col-lg-4 form-label" %>
      <div class="col-lg-8">
        <%= f.select(:year, options_for_select([['<select>', ' '],
                                                ['2016', '2016'],
                                                ['2015', '2015'],
                                                ['2014', '2014'],
                                                ['2013', '2013'],
                                                ['2012', '2012'],
                                                ['2011', '2011'],
                                                ['2010', '2010'],
                                                ['2009', '2009'],
                                                ['2008', '2008'],
                                                ['2007', '2007'],
                                                ['2006', '2006'],
                                                ['2005', '2005'],
                                                ['2004', '2004'],
                                                ['2003', '2003'],
                                                ['2002', '2002'],
                                                ['2001', '2001'],
                                                ['2000', '2000'],
                                                ['1999', '1999'],
                                                ['1998', '1998'],
                                                ['1997', '1997'],
                                                ['1996', '1996'],
                                                ['1995', '1995'],
                                                ['1994', '1994'],
                                                ['1993', '1993'],
                                                ['1992', '1992'],
                                                ['1991', '1991'],
                                                ['1990', '1990'],
                                                ['1989', '1989'],
                                                ['1988', '1988'],
                                                ['1987', '1987'],
                                                ['1986', '1986']]), {}, {class: 'form-control'}) %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :body_type, :class => "col-lg-4 form-label" %>
      <div class="col-lg-8">
        <%= f.select(:body_type, options_for_select([['<select>', ' '],
                                                     ['Sedan', 'Sedan'],
                                                     ['Crossover', 'Crossover'],
                                                     ['Pickup', 'Pickup'],
                                                     ['SUV', 'SUV'],
                                                     ['Coupe', 'Coupe'],
                                                     ['Luxury', 'Luxury'],
                                                     ['Hybrid', 'Hybrid'],
                                                     ['Van/Minivan', 'Van/Minivan'],
                                                     ['Convertible', 'Convertible'],
                                                     ['Hatchback', 'Hatchback'],
                                                     ['Wagon', 'Wagon'],
                                                     ['Electric', 'Electric']]), {}, {class: 'form-control'}) %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :vin, :class => "col-lg-4 form-label" %>
      <div class="col-lg-8">
        <%= f.text_field :vin, :class => "form-control" %>
      </div>
    </div>
  </div>

  <br>
  <div class="database-inquiry form-field col-lg-9">
    <h4>Database Inquiry</h4>
    <hr>
    <div class="form-group">
      <%= f.label :database, :class => "col-lg-4 form-label" %>
      <div class="col-lg-8">
        <%= f.select(:database, options_for_select([['<select>', ' '],
                                                    ['Audatex', 'Audatex'],
                                                    ['CCC', 'CCC'],
                                                    ['Mitchell', 'Mitchell']]), {}, {class: 'form-control'}) %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :client_id, :class => "col-lg-4 form-label" %>
      <div class="col-lg-8">
        <%= f.text_field :client_id, :class => "form-control" %>
        <i>If applicable</i>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :inquiry_type, :class => "col-lg-4 form-label" %>
      <div class="col-lg-8">
        <%= f.select(:inquiry_type, options_for_select([['<select the type that best applies>', ' '],
                                                        ['Missing Information', 'Missing Information'],
                                                        ['Parts', 'Parts'],
                                                        ['Procedure Page Issue', 'Procedure Page Issue'],
                                                        ['Welded Panel Operations', 'Welded Panel Operations'],
                                                        ['Non-Welded Panel Operations', 'Non-Welded Panel Operations'],
                                                        ['Refinish Operations', 'Refinish Operations'],
                                                        ['All Other', 'All Other']]), {}, {class: 'form-control'}) %>
      </div>
    </div>
    <div class="missing-info-form">
      <div class="area-of-vechicle">
        <%= f.label :missing_area_of_vechicle, 'Area of Vechicle', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.select(:missing_area_of_vechicle, options_for_select([['<select>', ' '],
                                                                      ['Front', 'Front'],
                                                                      ['Back', 'Back'],
                                                                      ['Other', 'Other']]), {}, {class: 'form-control'}) %>
          <%= f.text_field :missing_area_of_vechicle_other_field, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :missing_part_name, 'Missing Part Name', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :missing_part_name, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :missing_part_description, 'Missing Part Description', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :missing_part_description, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :missing_oem_part_number, 'OEM Part Number', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :missing_oem_part_number, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :missing_information, 'Missing Information', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :missing_information, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :missing_issue_summary, 'Issue Summary', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :missing_issue_summary, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :missing_suggested_action, 'Suggested Action', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :missing_suggested_action, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="parts-form">
      <div class="area-of-vechicle">
        <%= f.label :parts_area_of_vechicle, 'Area of Vechicle', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.select(:parts_area_of_vechicle, options_for_select([['<select>', ' '],
                                                                    ['Front', 'Front'],
                                                                    ['Back', 'Back'],
                                                                    ['Other', 'Other']]), {}, {class: 'form-control'}) %>
          <%= f.text_field :parts_area_of_vechicle_other_field, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :parts_part_name, 'Part Name', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :parts_part_name, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :parts_part_description, 'Part Description', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :parts_part_description, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :parts_oem_part_number, 'OEM Part Number', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :parts_oem_part_number, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :parts_issue_summary, 'Issue Summary', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :parts_issue_summary, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :parts_suggested_action, 'Suggested Action', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :parts_suggested_action, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="procedure-page-form">
      <div class="area-of-vechicle">
        <%= f.label :procedure_area_of_vechicle, 'Area of Vechicle', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.select(:procedure_area_of_vechicle, options_for_select([['<select>', ' '],
                                                                        ['Front', 'Front'],
                                                                        ['Back', 'Back'],
                                                                        ['Other', 'Other']]), {}, {class: 'form-control'}) %>
          <%= f.text_field :procedure_area_of_vechicle_other_field, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :procedure_page_number, 'Page Number', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.select(:procedure_page_number, options_for_select([['<select>', ' '],
                                                                   ['1', '1'],
                                                                   ['2', '2'],
                                                                   ['3', '3'],
                                                                   ['4', '4'],
                                                                   ['5', '5']]), {}, {class: 'form-control'}) %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :procedure_issue_summary, 'Issue Summary', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :procedure_issue_summary, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :procedure_suggested_action, 'Suggested Action', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :procedure_suggested_action, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="welded-panel-operations-form">
      <div class="area-of-vechicle">
        <%= f.label :welded_area_of_vechicle, 'Area of Vechicle', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.select(:welded_area_of_vechicle, options_for_select([['<select>', ' '],
                                                                    ['Front', 'Front'],
                                                                    ['Back', 'Back'],
                                                                    ['Other', 'Other']]), {}, {class: 'form-control'}) %>
          <%= f.text_field :welded_area_of_vechicle_other_field, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :welded_part_name, 'Part Name', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :welded_part_name, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :welded_part_number, 'Part Number', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :welded_part_number, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :welded_issue_summary, 'Issue Summary', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :welded_issue_summary, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :welded_weld_spots, 'Number of Spot Welds', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.select(:welded_weld_spots, options_for_select([['<select>', ' '],
                                                              ['1', '1'],
                                                              ['2', '2'],
                                                              ['3', '3'],
                                                              ['4', '4'],
                                                              ['5', '5']]), {}, {class: 'form-control'}) %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :welded_materials_involved, 'Type of Materials Involved', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.select(:welded_materials_involved, options_for_select([['<select>', ' '],
                                                                      ['metal', 'metal'],
                                                                      ['plastic', 'plastic'],
                                                                      ['wood', 'wood'],
                                                                      ['cotton', 'cotton']]), {}, {class: 'form-control'}) %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :welded_procedure_steps, 'Individual Procedure Steps', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :welded_procedure_steps, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :welded_skill_level, 'Technician Skill Level', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.select(:welded_skill_level, options_for_select([['<select>', ' '],
                                                               ['Beginner', 'Beginner'],
                                                               ['Intermediate', 'Intermediate'],
                                                               ['Advanced', 'Advanced'],
                                                               ['Expert', 'Expert']]), {}, {class: 'form-control'}) %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label 'Actual Time to Complete', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.select(:welded_complete_time_hour, options_for_select([['hours', ' '],
                                                                      ['0', '0'],
                                                                      ['1', '1'],
                                                                      ['2', '2'],
                                                                      ['3', '3'],
                                                                      ['4', '4'],
                                                                      ['5', '5'],
                                                                      ['6', '6'],
                                                                      ['7', '7'],
                                                                      ['8', '8'],
                                                                      ['9', '9'],
                                                                      ['10', '10'],
                                                                      ['11', '11'],
                                                                      ['12', '12'],
                                                                      ['13', '13']]), {}, {class: 'form-control'}) %>
          <%= f.select(:welded_complete_time_min, options_for_select([['minutes', ' '],
                                                                     ['0', '0'],
                                                                     ['15', '15'],
                                                                     ['30', '30'],
                                                                     ['45', '45']]), {}, {class: 'form-control'}) %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :welded_suggested_action, 'Suggested Action', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :welded_suggested_action, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="non-welded-panel-operations-form">
      <div class="area-of-vechicle">
        <%= f.label :non_welded_area_of_vechicle, 'Area of Vechicle', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.select(:non_welded_area_of_vechicle, options_for_select([['<select>', ' '],
                                                                        ['Front', 'Front'],
                                                                        ['Back', 'Back'],
                                                                        ['Other', 'Other']]), {}, {class: 'form-control'}) %>
          <%= f.text_field :non_welded_area_of_vechicle_other_field, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :non_welded_part_name, 'Part Name', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :non_welded_part_name, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :non_welded_part_number, 'Part Number', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :non_welded_part_number, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :non_welded_issue_summary, 'Issue Summary', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :non_welded_issue_summary, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :non_welded_procedure_steps, 'Individual Procedure Steps', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :non_welded_procedure_steps, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :non_welded_skill_level, 'Technician Skill Level', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.select(:non_welded_skill_level, options_for_select([['<select>', ' '],
                                                                   ['Beginner', 'Beginner'],
                                                                   ['Intermediate', 'Intermediate'],
                                                                   ['Advanced', 'Advanced'],
                                                                   ['Expert', 'Expert']]), {}, {class: 'form-control'}) %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label 'Actual Time to Complete', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.select(:non_welded_complete_time_hour, options_for_select([['hours', ' '],
                                                                          ['0', '0'],
                                                                          ['1', '1'],
                                                                          ['2', '2'],
                                                                          ['3', '3'],
                                                                          ['4', '4'],
                                                                          ['5', '5'],
                                                                          ['6', '6'],
                                                                          ['7', '7'],
                                                                          ['8', '8'],
                                                                          ['9', '9'],
                                                                          ['10', '10'],
                                                                          ['11', '11'],
                                                                          ['12', '12'],
                                                                          ['13', '13']]), {}, {class: 'form-control'}) %>
          <%= f.select(:non_welded_complete_time_min, options_for_select([['minutes', ' '],
                                                                         ['0', '0'],
                                                                         ['15', '15'],
                                                                         ['30', '30'],
                                                                         ['45', '45']]), {}, {class: 'form-control'}) %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :non_welded_suggested_action, 'Suggested Action', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :non_welded_suggested_action, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="refinished-operations-form">
      <div class="area-of-vechicle">
        <%= f.label :refinished_area_of_vechicle, 'Area of Vechicle', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.select(:refinished_area_of_vechicle, options_for_select([['<select>', ' '],
                                                                        ['Front', 'Front'],
                                                                        ['Back', 'Back'],
                                                                        ['Other', 'Other']]), {}, {class: 'form-control'}) %>
          <%= f.text_field :refinished_area_of_vechicle_other_field, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :refinished_issue_summary, 'Issue Summary', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :refinished_issue_summary, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :refinished_special_labor, 'Special Labor or Material Considerations', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :refinished_special_labor, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :refinished_surface_area, 'Estimated Part Surface Area', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.select(:refinished_surface_area, options_for_select([['<select>', ' '],
                                                                    ['5', '5'],
                                                                    ['10', '10'],
                                                                    ['15', '15'],
                                                                    ['20', '20'],
                                                                    ['25', '25'],
                                                                    ['30', '30'],
                                                                    ['35', '35'],
                                                                    ['40', '40'],
                                                                    ['45', '45'],
                                                                    ['50', '50'],
                                                                    ['55', '55'],
                                                                    ['60', '60'],
                                                                    ['65', '65'],
                                                                    ['70', '70'],
                                                                    ['75', '75'],
                                                                    ['80', '80'],
                                                                    ['85', '85'],
                                                                    ['90', '90'],
                                                                    ['95', '95'],
                                                                    ['100', '100']]), {}, {class: 'form-control'}) %>
          <i>square inches</i>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :refinished_suggested_action, 'Suggested Action', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :refinished_suggested_action, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="all-other-form">
      <div class="form-group">
        <%= f.label :all_other_issue_summary, 'Issue Summary', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :all_other_issue_summary, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :all_other_procedure_steps, 'Individual Procedure Steps', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :all_other_procedure_steps, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label 'Actual Time to Complete', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.select(:all_other_complete_time_hour, options_for_select([['hours', ' '],
                                                                          ['0', '0'],
                                                                          ['1', '1'],
                                                                          ['2', '2'],
                                                                          ['3', '3'],
                                                                          ['4', '4'],
                                                                          ['5', '5'],
                                                                          ['6', '6'],
                                                                          ['7', '7'],
                                                                          ['8', '8'],
                                                                          ['9', '9'],
                                                                          ['10', '10'],
                                                                          ['11', '11'],
                                                                          ['12', '12'],
                                                                          ['13', '13']]), {}, {class: 'form-control'}) %>
          <%= f.select(:all_other_complete_time_min, options_for_select([['minutes', ' '],
                                                                         ['0', '0'],
                                                                         ['15', '15'],
                                                                         ['30', '30'],
                                                                         ['45', '45']]), {}, {class: 'form-control'}) %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :all_other_suggested_action, 'Suggested Action', :class => "col-lg-4 form-label" %>
        <div class="col-lg-8">
          <%= f.text_field :all_other_suggested_action, :class => "form-control" %>
        </div>
      </div>
    </div>
  </div>

  <!-- Attachment -->

  <div>
    <div class="field">
      <%= f.label :attachment %>
      <%= f.file_field :attachment %>
    </div>
  </div>
  <br>
  <p>
    <%= f.submit class: 'btn btn-primary' %>
  </p>
<% end %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>