<%= render 'shared/header' %>

<h1>Listing Inquiries</h1>

<table>
  <tr>
    <th>Inquiry Type</th>
    <th>Year</th>
    <th>Make</th>
    <th>Model</th>
  </tr>

  <% @inquiries.each do |inquiry| %>
    <tr>
      <td><%= inquiry.inquiry_type %></td>
      <td><%= inquiry.year %></td>
      <td><%= inquiry.make %></td>
      <td><%= inquiry.model %></td>
      <td><%= link_to 'Show', inquiry_path(inquiry) %></td>
      <td><%= link_to 'Edit', edit_inquiry_path(inquiry) %></td>
      <td><%= link_to 'Delete', inquiry_path(inquiry),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>