<h2>Inquiry <%= @inquiry.id%></h2>
<h4>Contact Information</h4>
<hr>
<br>
<p><strong>Name:</strong><%= @inquiry.name %></p>
<p><strong>Title:</strong><%= @inquiry.title %></p>
<p><strong>Shop Name:</strong><%= @inquiry.shop_name %></p>
<p><strong>Address Line 1:</strong><%= @inquiry.address_1 %></p>
<p><strong>Address Line 2:</strong><%= @inquiry.address_2 %></p>
<p><strong>City:</strong><%= @inquiry.city %></p>
<p><strong>Zip Code:</strong><%= @inquiry.zip_code %></p>
<p><strong>State:</strong><%= @inquiry.state %></p>
<p><strong>Phone:</strong><%= @inquiry.phone %></p>
<p><strong>Fax:</strong><%= @inquiry.fax %></p>
<p><strong>Email:</strong><%= @inquiry.email %></p>
<h4>Vehicle</h4>
<hr>
<br>
<p><strong>Make:</strong><%= @inquiry.make %></p>
<p><strong>Model:</strong><%= @inquiry.model %></p>
<p><strong>Year</strong><%= @inquiry.year %></p>
<p><strong>Body Type:</strong><%= @inquiry.body_type %></p>
<p><strong>VIN:</strong><%= @inquiry.vin %></p>
<h4>Database Inquiry</h4>
<hr>
<br>
<p><strong>Database:</strong><%= @inquiry.database %></p>
<p><strong>Client ID:</strong><%= @inquiry.client_id %></p>
<p><strong>Inquiry Type:</strong><%= @inquiry.inquiry_type %></p>

<p><strong>Attached Files:</strong><a href="<%= @inquiry.attachment.url %>"><%= @inquiry.attachment_file_name %></a>
<h2>Comments</h2>
<%= render @inquiry.comments %>

<%= render 'comments/form' %>

<%= link_to 'Back', inquiries_path %>