<h4>Add a comment:</h4>
<%= form_for([@inquiry, @inquiry.comments.build]) do |f| %>

  <p>
    <%= f.label :body, "Comment" %><br>
    <%= f.text_area :body, class: "form-control" %>
  </p>
    <p>
    <%= f.label :commenter, "Author" %><br>
    <%= f.text_field :commenter, class: "form-control" %>
  </p>
  <p>
    <%= f.submit "Submit", class: "btn btn-primary btn-submit" %>
  </p>
<% end %>