<div class="container">
<br>
	<h1>DEG User Portal</h1>
  <br>

  <div class="panel panel-default">
	  <div class="panel-heading">
	  	Password Reset
	  </div>
	  <div class="panel-body">
	  <% if flash[:error] %>
		    <div id="error"><%= flash[:error] %></div>
		    <br>
		<% end %>
			<%= form_for(@user) do |f| %>
		  <%= f.label :name %>
		  <%= f.text_field :name, class: 'form-control' %><br>
		  <%= f.label :email %>
		  <%= f.text_field :email, class: 'form-control' %><br>
		  <%= f.label :password %>
		  <%= f.password_field :password, class: 'form-control' %>
		  <span>password must be at least 6 characters</span><br><br>

		  <%= f.label :password_confirmation %>
		  <%= f.password_field :password_confirmation, class: 'form-control' %><br>

		  <%= f.submit 'Set Password', class: "btn btn-primary" %>
		<% end %>
	  </div>
	</div>
</div>