<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<div class="container" >

  <%= render partial: 'inquiries/nav_pills', locals: {current: "users"} %>

  <h2>Manage Users</h2>
  <br>
  <div id="ips-wrapper">
  	<div class="panel panel-default left-table">
  		<div class="panel-heading">
  			Information Providers
  		</div>
  		<div class="panel-body">
  			<table class="table table-striped table-hover">
			  	<thead>
				  	<tr>
				  		<th>Name</th>
				  		<th id="email">Email</th>
				  		<th>Platform</th>
				  		<th>Create Date</th>
				  		<th class="delete_col">Delete</th>
				  	</tr>
			  	</thead>
			  	<tbody>
			  		<% @ips.each do |ip| %>
			  		<tr>
			  			<td><%= ip.name %></td>
			  			<td><%= ip.email %></td>
			  			<td><%= ip.platform %></td>
			  			<td><%= ip.created_at.strftime("%-m/%-d/%y") %></td>
			  			<td class="delete_col"><%= button_to "delete", {:controller => :information_providers,
		      :action => 'destroy', :id => ip.id }, :method => :delete %></td>
			  		</tr>
			  		<% end %>
			  	</tbody>
			  </table>
  		</div>
  	</div>
  	<div class="panel panel-default right-form">
  		<div class="panel-heading">
  			Add Information Provider
  		</div>
			<div class="panel-body">
				<% if flash[:ip_success] %> 
					<div id="success"><%= flash[:ip_success] %><br><br></div>
				<% end %>
				<% if flash[:ip_error] %>
			    <div id="error"><%= flash[:ip_error] %><br><br></div>
			    <br>
			  <% end %>
			  <p>Specify the information providers that will receive notifications per platform.</p>
				<%= form_for :information_provider, url: information_providers_path do |f| %>
	      <%= f.label :name %>
	      <%= f.text_field :name, class: 'form-control', placeholder: 'Full Name' %><br>

	      <%= f.label :email %>
	      <%= f.email_field :email, class: 'form-control', placeholder: 'email@domain.com' %><br>
	      <%= f.label :platform %>
	      <%= f.select(:platform, options_for_select(database_types), {}, {class: 'form-control required-input'}) %>
	      <br><br>
	      <%= f.submit "Add Information Provider", class: "btn btn-primary" %>
	  		<% end %>
			</div>
  	</div>
  </div>
 	<div id="users-wrapper">
	  <div class="panel panel-default left-table">
		  <div class="panel-heading">
		  	Users
		  </div>
		  <div class="panel-body">
			  <table class="table table-striped table-hover">
			  	<thead>
				  	<tr>
				  		<th>Name</th>
				  		<th id="email">Email</th>
				  		<th>Admin</th>
				  		<th>Create Date</th>
				  		<% if current_user.email === "aaron@scrs.com" %>
				  		<th class="delete_col">Delete</th>
				  		<% end %>
				  	</tr>
			  	</thead>
			  	<tbody>
			  		<% @users.each do |user| %>
			  		<tr>
			  			<td><%= user.name %></td>
			  			<td><%= user.email %></td>
			  			<td><% if user.isadmin %>
			  				<%= image_tag "Checkmark-10.png" %>
			  			<% end%></td>
			  			<td><%= user.created_at.strftime("%-m/%-d/%y") %></td>
			  			<% if current_user.email === "aaron@scrs.com" %>
			  				<td class="delete_col"><%= button_to "delete", {:controller => :users,
		      :action => 'destroy', :id => user.id }, :method => :delete %></td>
		      		<% end %>
			  		</tr>
			  		<% end %>
			  	</tbody>
			  </table>
		  </div>
		</div>
		<br>
		<div class="panel panel-default right-form">
			<div class="panel-heading">
				Create New User
			</div>
			<div class="panel-body">
				<% if flash[:success] %> 
					<div id="success"><%= flash[:success] %><br></div>
				<% end %>
				<% if flash[:error] %>
			    <div id="error"><%= flash[:error] %></div>
			    <br>
			  <% end %>
			  <p>An email will be sent to the user to set a password for their account</p>
				<%= form_for @user, :url => '/users/admin_new', :method => 'post' do |f| %>
	      <%= f.label :name %>
	      <%= f.text_field :name, class: 'form-control', placeholder: 'Full Name' %><br>

	      <%= f.label :email %>
	      <%= f.email_field :email, class: 'form-control', placeholder: 'email@domain.com' %><br>

	      <%= f.check_box :isadmin %> <%= f.label :isadmin, "Admin User" %>
	      <br><br>
	      <%= f.submit "Create new account", class: "btn btn-primary" %>

	  	<% end %>
			</div>
		</div>
	</div>
</div>

<style>
#success {
	color: green;
}
#error {
	color: red;
}
span {
	color: gray;
	font-size: 12px;
}
form {
	width: 300px;
}

#user_isadmin {
	margin-right: 10px;
}

th {
	padding-right: 30px;
}

/*table {
	width: 200px;
}*/

#email {
	width: 300px;
}

.button_to {
	width: 50px;
}

.left-table {
	width: 460px;
}

.right-form {
	margin-left: 20px;
	width: 400px;
}

#users-wrapper {
	display: flex;
}

#ips-wrapper {
	display: flex;
}
</style>