<h1>DEBWEB</h1>

<!-- link to inquiries index -->
<p><%= link_to 'All Inquiries', controller: 'inquiries' %></p>

<p><%= link_to 'New Inquiry', new_inquiry_path %></p>


<% if logged_in? %>
	<%= link_to "Log out", logout_path, method: "delete" %>
<% else %>
	<p> <%= link_to "Sign Up", signup_path %> </p>
	<%= link_to "Log in", login_path %>
<% end %>