<style>
.post {
	margin: 30px;
}

.date {
	width: 150px;
	padding-top: 40px;
	padding-left: 15px;
	/*background-color: red;*/
}

.body {
	width: 700px;
	/*background-color: blue;*/
}

.panel-body {
	display: flex;
}

.body div {
	padding: 10px;
}

.nav {
	padding-left: 30px;
}

.paginate {
	margin-left: 30px;
}
</style>

<div class="container">

	<%= render partial: 'nav_pills', locals: {current: "posts"} %>
	<br>
	<div class="paginate">
		<%= will_paginate @inquiries %>
	</div>
  <% @posts.each do |post| %> 
  	<div class="post panel panel-default">
  		<div class="panel-body">
	  		<div class="date"><%= post.created_at.strftime("%b %d %Y")   %></div>
	  		<div class="body">
	  			<div class="title"><h2><%= post.title %></h2></div>
	  			<div class="text"><p><%= simple_format post.text %></p></div>
	  			<div class="read">
	  				<p><%= link_to "View Post", post_path(post), :class => "btn btn-default" %>
	  				<% if logged_in? %>
	  				<%= link_to 'Edit', edit_post_path(post), :class => "btn btn-info" %>
	  				<% end %>
	  				</p>
	  			</div>
	  		</div>
  		</div>
  	</div>
  	<hr>
  <% end %>
  <div class="paginate">
  	<%= will_paginate @inquiries %>
  </div>
</div>