<%= form_for @inquiry, url: {action: "edit_customer"}, html: {class: "customer-edit-form"} do |f| %>
  <div class="col-lg-12">
    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-lg-3 form-label">
          <span class="form-required">* </span><%= f.label :name, "Your Name" %>
        </div>
        <div class="col-lg-9">
          <%= f.text_field :name, :class => "form-control required-input" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :title, :class => "col-lg-3 form-label"  %>
        <div class="col-lg-9">
          <%= f.text_field :title, :class => "form-control"  %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :shop_name, :class => "col-lg-3 form-label" %>
        <div class="col-lg-9">
          <%= f.text_field :shop_name, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :address_1, :class => "col-lg-3 form-label" %>
        <div class="col-lg-9">
          <%= f.text_field :address_1, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :address_2, :class => "col-lg-3 form-label" %>
        <div class="col-lg-9">
          <%= f.text_field :address_2, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :city, :class => "col-lg-3 form-label" %>
        <div class="col-lg-9">
          <%= f.text_field :city, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :state, :class => "col-lg-3 form-label" %>
        <div class="col-lg-9">
          <%= f.select :state, us_states, {}, {class: 'form-control'} %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :zip_code, :class => "col-lg-3 form-label" %>
        <div class="col-lg-9">
          <%= f.text_field :zip_code, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-3 form-label">
          <span class="form-required">* </span><%= f.label :phone %>
        </div>
        <div class="col-lg-9">
          <%= f.text_field :phone, :class => "form-control required-input" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :fax, :class => "col-lg-3 form-label" %>
        <div class="col-lg-9">
          <%= f.text_field :fax, :class => "form-control" %>
          <i>Optional</i>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-3 form-label">
          <span class="form-required">* </span><%= f.label :email %>
        </div>
        <div class="col-lg-9">
          <%= f.text_field :email, :class => "form-control required-input" %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-buttons col-lg-offset-2">
  	<%= f.submit "Save", class: "btn btn-primary btn-submit", html: { type: "submit", id: "customer-submit"} %>
  </div>
<% end %>