<%= form_for @inquiry, url: {action: "edit_inquiry"}, html: {class: "edit-form"} do |f| %>
  <div class="form-heading col-lg-9">
    <h4>Vehicle</h4>
    <hr>
  </div>
  <div class="form-field col-lg-6">
    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-lg-3 form-label">
          <span class="form-required">* </span><%= f.label :year %>
        </div>
        <div class="col-lg-9">
          <%= f.select(:year, car_years, {}, {class: 'form-control required-input'}) %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-3 form-label">
          <span class="form-required">* </span><%= f.label :make %>
        </div>
        <div class="col-lg-9">
          <%= f.select(:make, car_makes, {}, {class: 'form-control required-input'}) %>
          <%= f.text_field :make_other_field, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-3 form-label">
          <span class="form-required">* </span><%= f.label :model %>
        </div>
        <div class="col-lg-9">
          <%= f.text_field :model, :class => "form-control required-input" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :body_type, :class => "col-lg-3 form-label" %>
        <div class="col-lg-9">
          <%= f.select(:body_type, car_body_types, {}, {class: 'form-control'}) %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-3 form-label">
          <span class="form-required">* </span><%= f.label :vin, "VIN" %>
        </div>
        <div class="col-lg-9">
          <%= f.text_field :vin, :class => "form-control required-input" %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-heading col-lg-9">
    <h4>Contact Information</h4>
    <hr>
  </div>
  <div class="form-field col-lg-6">
    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-lg-3 form-label">
          <span class="form-required">* </span><%= f.label :name, "Your Name" %>
        </div>
        <div class="col-lg-9">
          <%= f.text_field :name, :class => "form-control required-input" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :title, :class => "col-lg-3 form-label"  %>
        <div class="col-lg-9">
          <%= f.text_field :title, :class => "form-control"  %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :shop_name, :class => "col-lg-3 form-label" %>
        <div class="col-lg-9">
          <%= f.text_field :shop_name, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :address_1, :class => "col-lg-3 form-label" %>
        <div class="col-lg-9">
          <%= f.text_field :address_1, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :address_2, :class => "col-lg-3 form-label" %>
        <div class="col-lg-9">
          <%= f.text_field :address_2, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :city, :class => "col-lg-3 form-label" %>
        <div class="col-lg-9">
          <%= f.text_field :city, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :state, :class => "col-lg-3 form-label" %>
        <div class="col-lg-9">
          <%= f.select :state, us_states, {}, {class: 'form-control'} %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :zip_code, :class => "col-lg-3 form-label" %>
        <div class="col-lg-9">
          <%= f.text_field :zip_code, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-3 form-label">
          <span class="form-required">* </span><%= f.label :phone %>
        </div>
        <div class="col-lg-9">
          <%= f.text_field :phone, :class => "form-control required-input" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :fax, :class => "col-lg-3 form-label" %>
        <div class="col-lg-9">
          <%= f.text_field :fax, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-3 form-label">
          <span class="form-required">* </span><%= f.label :email %>
        </div>
        <div class="col-lg-9">
          <%= f.text_field :email, :class => "form-control required-input" %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-heading col-lg-9">
    <h4>Database Inquiry</h4>
    <hr>
  </div>
  <div class="form-field col-lg-6">
    <div class="form-horizontal">
      <div class="form-group">
        <%= f.label :database, :class => "col-lg-3 form-label" %>
        <div class="col-lg-9">
          <%= f.select(:database, database_types, {}, {class: 'form-control'}) %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :client_id, :class => "col-lg-3 form-label" %>
        <div class="col-lg-9">
          <%= f.text_field :client_id, :class => "form-control" %>
          <i>If applicable</i>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :inquiry_type, :class => "col-lg-3 form-label" %>
        <div class="col-lg-9">
          <%= f.select(:inquiry_type, inquiry_types, {}, {class: 'form-control'}) %>
        </div>
      </div>
      <div class="missing-info-form">
        <div class="form-group">
          <div class="area-of-vehicle">
            <%= f.label :missing_area_of_vehicle, 'Area of Vehicle', :class => "col-lg-3 form-label" %>
            <div class="col-lg-9">
              <%= f.select(:missing_area_of_vehicle, vehicle_areas, {}, {class: 'form-control'}) %>
              <%= f.text_field :missing_area_of_vehicle_other_field, :class => "form-control" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :missing_part_name, 'Missing Part Name', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_field :missing_part_name, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :missing_part_description, 'Missing Part Description', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_area :missing_part_description, :class => "form-control", :rows => "3" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :missing_oem_part_number, 'OEM Part Number', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_field :missing_oem_part_number, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :missing_information, 'Missing Information', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_area :missing_information, :class => "form-control", rows: "3" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :missing_issue_summary, 'Issue Summary', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_area :missing_issue_summary, :class => "form-control", rows: "10" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :missing_suggested_action, 'Suggested Action', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_area :missing_suggested_action, :class => "form-control", :rows => "5" %>
          </div>
        </div>
      </div>
      <div class="parts-form">
        <div class="form-group">
          <div class="area-of-vehicle">
            <%= f.label :parts_area_of_vehicle, 'Area of Vehicle', :class => "col-lg-3 form-label" %>
            <div class="col-lg-9">
              <%= f.select(:parts_area_of_vehicle, vehicle_areas, {}, {class: 'form-control'}) %>
              <%= f.text_field :parts_area_of_vehicle_other_field, :class => "form-control" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :parts_part_name, 'Part Name', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_field :parts_part_name, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :parts_part_description, 'Part Description', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_area :parts_part_description, :class => "form-control", :rows => "3" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :parts_oem_part_number, 'OEM Part Number', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_field :parts_oem_part_number, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :parts_issue_summary, 'Issue Summary', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_area :parts_issue_summary, :class => "form-control", :rows => "10" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :parts_suggested_action, 'Suggested Action', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
             <%= f.text_area :parts_suggested_action, :class => "form-control", :rows => "5" %>
          </div>
        </div>
      </div>
      <div class="procedure-page-form">
        <div class="form-group">
          <div class="area-of-vehicle">
            <%= f.label :procedure_area_of_vehicle, 'Area of Vehicle', :class => "col-lg-3 form-label" %>
            <div class="col-lg-9">
              <%= f.select(:procedure_area_of_vehicle, vehicle_areas, {}, {class: 'form-control'}) %>
              <%= f.text_field :procedure_area_of_vehicle_other_field, :class => "form-control" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :procedure_page_number, 'Page Number', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_field :procedure_page_number, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :procedure_issue_summary, 'Issue Summary', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
           <%= f.text_area :procedure_issue_summary, :class => "form-control", :rows => "10" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :procedure_suggested_action, 'Suggested Action', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_area :procedure_suggested_action, :class => "form-control", :rows => "5" %>
          </div>
        </div>
      </div>
      <div class="welded-panel-operations-form">
        <div class="form-group">
          <div class="area-of-vehicle">
            <%= f.label :welded_area_of_vehicle, 'Area of Vehicle', :class => "col-lg-3 form-label" %>
            <div class="col-lg-9">
              <%= f.select(:welded_area_of_vehicle, vehicle_areas, {}, {class: 'form-control'}) %>
              <%= f.text_field :welded_area_of_vehicle_other_field, :class => "form-control" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :welded_part_name, 'Part Name', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_field :welded_part_name, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :welded_part_number, 'Part Number', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_field :welded_part_number, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :welded_issue_summary, 'Issue Summary', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_area :welded_issue_summary, :class => "form-control", :rows => "10" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :welded_weld_spots, 'Number of Spot Welds', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_field :welded_weld_spots, :class => "form-control", :placeholder => "num of spot welds" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :welded_materials_involved, 'Type of Materials Involved', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_area :welded_materials_involved, :class => "form-control", :rows => "5", :placeholder => "materials involved" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :welded_procedure_steps, 'Individual Procedure Steps', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_area :welded_procedure_steps, :class => "form-control", :rows => "5" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :welded_skill_level, 'Technician Skill Level', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.select(:welded_skill_level, skill_levels, {}, {class: 'form-control'}) %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label 'Actual Time to Complete', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_field :welded_complete_time_hour, :class => "form-control", :placeholder => "hours ex. 2" %>
            <i>hours</i>
             <%= f.text_field :welded_complete_time_min, :class => "form-control", :placeholder => "minutes ex. 15" %>
             <i>minutes</i>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :welded_suggested_action, 'Suggested Action', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_area :welded_suggested_action, :class => "form-control", :rows => "5" %>
          </div>
        </div>
      </div>
      <div class="non-welded-panel-operations-form">
        <div class="form-group">
          <div class="area-of-vehicle">
            <%= f.label :non_welded_area_of_vehicle, 'Area of Vehicle', :class => "col-lg-3 form-label" %>
            <div class="col-lg-9">
              <%= f.select(:non_welded_area_of_vehicle, vehicle_areas, {}, {class: 'form-control'}) %>
              <%= f.text_field :non_welded_area_of_vehicle_other_field, :class => "form-control" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :non_welded_part_name, 'Part Name', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_field :non_welded_part_name, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :non_welded_part_number, 'Part Number', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_field :non_welded_part_number, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :non_welded_issue_summary, 'Issue Summary', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_area :non_welded_issue_summary, :class => "form-control", :rows => "10" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :non_welded_procedure_steps, 'Individual Procedure Steps', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_area :non_welded_procedure_steps, :class => "form-control", :rows => "5" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :non_welded_skill_level, 'Technician Skill Level', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.select(:non_welded_skill_level, skill_levels, {}, {class: 'form-control'}) %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label 'Actual Time to Complete', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_field :non_welded_complete_time_hour, :class => "form-control", :placeholder => "hours ex. 2" %>
            <i>hours</i>
            <%= f.text_field :non_welded_complete_time_min, :class => "form-control", :placeholder => "minutes ex. 15" %>
            <i>minutes</i>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :non_welded_suggested_action, 'Suggested Action', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_area :non_welded_suggested_action, :class => "form-control", :rows => "5" %>
          </div>
        </div>
      </div>
      <div class="refinished-operations-form">
        <div class="form-group">
          <div class="area-of-vehicle">
            <%= f.label :refinished_area_of_vehicle, 'Area of Vehicle', :class => "col-lg-3 form-label" %>
            <div class="col-lg-9">
              <%= f.select(:refinished_area_of_vehicle, vehicle_areas, {}, {class: 'form-control'}) %>
              <%= f.text_field :refinished_area_of_vehicle_other_field, :class => "form-control" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :refinished_issue_summary, 'Issue Summary', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_area :refinished_issue_summary, :class => "form-control", :rows => "10" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :refinished_special_labor, 'Special Labor or Material Considerations', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_area :refinished_special_labor, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :refinished_surface_area, 'Estimated Part Surface Area', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_field :refinished_surface_area, :class => "form-control", :placeholder => "surface area" %>
            <i>square inches</i>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :refinished_suggested_action, 'Suggested Action', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_area :refinished_suggested_action, :class => "form-control", :rows => "5" %>
          </div>
        </div>
      </div>
      <div class="all-other-form">
        <div class="form-group">
          <%= f.label :all_other_issue_summary, 'Issue Summary', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_area :all_other_issue_summary, :class => "form-control", :rows => "10" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :all_other_procedure_steps, 'Individual Procedure Steps', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_area :all_other_procedure_steps, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label 'Actual Time to Complete', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_field :all_other_complete_time_hour, :class => "form-control", :placeholder => "hours ex. 2" %>
            <i>hours</i>
             <%= f.text_field :all_other_complete_time_min, :class => "form-control", :placeholder => "minutes ex. 15" %>
            <i>minutes</i>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :all_other_suggested_action, 'Suggested Action', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
            <%= f.text_area :all_other_suggested_action, :class => "form-control", :rows => "5" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-heading col-lg-9">
    <h4>Attachments</h4>
    <hr>
  </div>
  <div class="form-field col-lg-6">
    <div class="form-horizontal">
      <p>
        <div id="file_input_container">
        <%= f.label :attachment, "Attachment 1" %>
        <% if @inquiry.attachment_file_name %>
          <br><a href="<%= @inquiry.attachment.url %>" target="_newpage"><%= @inquiry.attachment_file_name %></a>
          <br><button type="button" id="a1" class="delete-btn">Delete Attachment</button>
        <% else %>
          <%= f.file_field :attachment%>
        <% end %>
        </div>
      </p>
      <p>
        <div id="file_input_container">
        <%= f.label :attachment2, "Attachment 2" %>
        <% if @inquiry.attachment2_file_name %>
          <br><a href="<%= @inquiry.attachment2.url %>" target="_newpage"><%= @inquiry.attachment2_file_name %></a>
          <br><button type="button" id="a2" class="delete-btn">Delete Attachment</button>
        <% else %>
          <%= f.file_field :attachment2%>
        <% end %>
        </div>
      </p>
            <p>
        <div id="file_input_container">
        <%= f.label :attachment3, "Attachment 3" %>
        <% if @inquiry.attachment3_file_name %>
          <br><a href="<%= @inquiry.attachment3.url %>" target="_newpage"><%= @inquiry.attachment3_file_name %></a>
          <br><button type="button" id="a3" class="delete-btn">Delete Attachment</button>
        <% else %>
          <%= f.file_field :attachment3%>
        <% end %>
        </div>
      </p>
            <p>
        <div id="file_input_container">
        <%= f.label :attachment4, "Attachment 4" %>
        <% if @inquiry.attachment4_file_name %>
          <br><a href="<%= @inquiry.attachment4.url %>" target="_newpage"><%= @inquiry.attachment4_file_name %></a>
          <br><button type="button" id="a4" class="delete-btn">Delete Attachment</button>
        <% else %>
          <%= f.file_field :attachment4 %>
        <% end %>
        </div>
      </p>

      <p>
        <div id="file_input_container">
        <%= f.label :attachment5, "Attachment 5" %>
        <% if @inquiry.attachment5_file_name %>
          <br><a href="<%= @inquiry.attachment5.url %>" target="_newpage"><%= @inquiry.attachment5_file_name %></a>
          <br><button type="button" id="a5" class="delete-btn">Delete Attachment</button>
        <% else %>
          <%= f.file_field :attachment5 %>
        <% end %>
        </div>
      </p>
    </div>
  </div>
  <div class="form-heading col-lg-9">
    <h4>Resolution Date</h4>
    <hr>
  </div>
  <div class="form-field col-lg-6">
    <div class="form-horizontal">
      <div class="form-group">
          <%= f.label :refinished_suggested_action, 'Resolution Date', :class => "col-lg-3 form-label" %>
          <div class="col-lg-9">
          <% if @inquiry.resolution_date.present? %>
            <% res_date = @inquiry.resolution_date.strftime("%Y-%m-%d") %>
          <% else %>
            <% res_date = "" %>
          <% end %>
            <%= text_field_tag :new_resolution_date, res_date, :class => 'form-control', :id => 'new_resolution_date' %>
          </div>
      </div>
      <div class="form-group">
        <%= f.label :completion_days, 'Total Time To Resolve (days)', :class => "col-lg-3 form-label" %>
        <div class="col-lg-9">
          <%= f.text_field :completion_days, :class => "form-control", :placeholder => @inquiry.time_to_resolve, :onchange => 'self.toggleIntError($("#inquiry_completion_days").val())' %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-buttons-min col-lg-12">
    <%= f.submit "Save", class: "btn btn-primary btn-submit", html: { type: "submit", id: "inquiry-edit-submit"} %>
    <a href="/inquiries/<%= @inquiry.id %>" class="btn btn-default">Cancel</a>
  </div>
<% end %>

<script> 

// $('#inquiry_completion_days-error').hide();

function toggleIntError(value){
  console.log('testing');
  if (self.isInt(value)){
    console.log(true);
  } else {
    console.log(false);
  }
}

function isInt(value) {
    var er = /^-?[0-9]+$/;
    return er.test(value);
}

$(".delete-btn").click(function(event) {
  console.log("clicked", this.id);
  var attachmentNum = this.id;
  if (confirm('Are you sure you want to delete this attachment?')) {
        console.log("confirmed");

        var attachmentNum = this.id;
        var inquiry_id = <%= @inquiry.id %>;
        var deletePath =  inquiry_id + "/delete_attachment/" + attachmentNum;

        $.ajax({
          url: deletePath,
          type: 'POST',
        })
        .done(function(data) {
          console.log("success", data);
          location.reload();
        })
        .fail(function() {
          console.log("error");
        })
        .always(function() {
          console.log("complete");
        });
        
    }
});
</script>