<%= form_tag inquiries_path, :method => 'get', :class => 'search-box' do %>
		<%= hidden_field_tag :direction, params[:direction] %>
		<%= hidden_field_tag :sort, params[:sort] %>
		<%= hidden_field_tag :status, params[:status] %>
		<div class="search-item">
    		<%= text_field_tag :search, params[:search], :class=> "form-control search-text" %>
    	</div>
        <div class="g-recaptcha" data-sitekey="6LcLnZYUAAAAAPJyKQ1pRZy41JVtCfvvr-BKIarq"></div>
    	<div class="search-submit">
   		<%= submit_tag "Search", :name => nil, :class=> 'btn btn-primary' %>
   		<%= link_to "Clear", inquiries_path, :class => 'btn btn-default' %>
  		</div>
<% end %>