<div class="panel panel-default response-chart">
	<div class="panel-heading">Response and Completion Time</div>
	<div class="panel-body gauges">
          <div id="response_bar_chart"></div>
	</div>
    
</div>

<script>
$(document).ready(function(){
var response_chart = c3.generate({
    bindto: "#response_bar_chart",
    data: {
        columns: [
            ['Audatex', <%= @report.avg_response_audatex %>, <%= @report.avg_completion_audatex %>],
            ['CCC', <%= @report.avg_response_ccc %>, <%= @report.avg_completion_ccc %>],
            ['Mitchell', <%= @report.avg_response_mitchell %>, <%= @report.avg_completion_mitchell %>]
        ],
        type: 'bar'
    },
    axis: {
      y: {
        label: {
           text: 'Days',
           position: 'outer-center',
        }
      },
      x: {
        type: 'category',
        categories: ['Avg Time Response','Avg Resolution Time']
      }
    },
    color: {
      pattern: ['#18bc9c', '#f39c12', '#e74c3c']
    }
  })
});
</script>