<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<style>
/*#chart {
	width: 200px;
	height: 300px;
}*/

#chart text {
	font-size: 12px;
}


#audatex {
	background-color: red;
}

.panel-body .gauges {
	display: flex;
}

.gauge {
	display: flex;
	margin: 0px;
	width: 300px;
}

.c3-chart {
	background-color: red;
}

.donuts {
    display: flex;
    width:1000px;
}
.donut-column {
    width: 450px;
    /*width: 350px;*/
    /*flex-grow: 1;*/
/*s*/    /*border-right: 50px;*/
    margin: 15px;
}
.donut-right {
    margin-right: 50px;
}

.c3-chart-arcs-title {
    background-color: red;
    font-size: 25px;
}


</style>

<div class="panel panel-default">
	<div class="panel-heading">Response and Completion Time</div>
	<div class="panel-body gauges">
		<!-- <a href="#" class="btn btn-info">Time Response</a> -->
  	<!-- <a href="#" class="btn btn-info">Life Cycle</a> -->
<!-- 		<div id="audatex_gauge" class="gauge"></div>
		<div id="ccc_gauge" class="gauge"></div>
		<div id="mitchell_gauge" class="gauge"></div> 
        -->
        <!-- <br><br> -->
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Database Type</th>
              <th>Time Response</th>
              <th>Resolution Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Audatex</td>
              <td><%= time_to_days(avg_response_time_for("Audatex"))%> Days</td>
              <td><%= time_to_days(avg_completion_time_for("Audatex"))%> Days</td>  
            </tr>
            <tr>
              <td>CCC</td>
              <td><%= time_to_days(avg_response_time_for("CCC"))%> Days</td>
              <td><%= time_to_days(avg_completion_time_for("CCC"))%> Days</td>
            </tr>
            <tr>
              <td>Mitchell</td>
              <td><%= time_to_days(avg_response_time_for("Mitchell"))%> Days</td>
              <td><%= time_to_days(avg_completion_time_for("Mitchell"))%> Days</td>
            </tr>
          </tbody>
          </table>

	</div>
</div>

<br>

<div class="donuts">
<div class="panel panel-default donut-column donut-left">
	<div class="panel-heading">Original vs Repeat</div>
	<div class="panel-body">
		<div id="audatex_donut"></div>
		<div id="ccc_donut"></div>
		<div id="mitchell_donut"></div>
		
	</div>
</div>

<div class="panel panel-default donut-column donut-right">
    <div class="panel-heading">Open vs Resolved</div>
    <div class="panel-body">
        <div id="audatex_completed"></div>
        <div id="ccc_completed"></div>
        <div id="mitchell_completed"></div>
        
    </div>
</div>
</div>

<script>

$(document).ready(function(){
	console.log("doing it");

var audatex_donut = c3.generate({
		bindto: "#audatex_donut",
    data: {
        columns: [
            ['original', <%= num_original("Audatex") %>],
            ['repeat', <%= num_repeat("Audatex") %>],
        ],
        type : 'donut',
        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    },
    donut: {
        title: "Audatex"
    },
    color: {
        pattern: ['#3498db', '#f39c12']
    }
});

var ccc_donut = c3.generate({
	bindto: "#ccc_donut",
    data: {
        columns: [
            ['original', <%= num_original("CCC") %>],
            ['repeat', <%= num_repeat("CCC") %>],
        ],
        type : 'donut',
        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    },
    donut: {
        title: "CCC"
    },
    color: {
        pattern: ['#3498db', '#f39c12']
    }
});

var mitchell_donut = c3.generate({
	bindto: "#mitchell_donut",
    data: {
        columns: [
            ['original', <%= num_original("Mitchell") %>],
            ['repeat', <%= num_repeat("Mitchell") %>],
        ],
        type : 'donut',
        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    },
    donut: {
        title: "Mitchell"
    },
    color: {
        pattern: ['#3498db', '#f39c12']
    }
});

<%  def num_open(database)
        Inquiry.where(database: database).where(resolution_date: nil).count
    end %>

<%  def num_closed(database)
        Inquiry.where(database: database).where.not(resolution_date: nil).count
    end %>

var audatex_completed = c3.generate({
        bindto: "#audatex_completed",
    data: {
        columns: [
            ['open', <%= num_open("Audatex") %>],
            ['resolved', <%= num_closed("Audatex") %>],
        ],
        type : 'donut',
        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    },
    donut: {
        title: "Audatex"
    },
    color: {
        pattern: ['#3498db', '#f39c12']
    }
});

var ccc_completed = c3.generate({
        bindto: "#ccc_completed",
    data: {
        columns: [
            ['open', <%= num_open("CCC") %>],
            ['resolved', <%= num_closed("CCC") %>],
        ],
        type : 'donut',
        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    },
    donut: {
        title: "CCC"
    },
    color: {
        pattern: ['#3498db', '#f39c12']
    }
});

var mitchell_completed = c3.generate({
        bindto: "#mitchell_completed",
    data: {
        columns: [
            ['open', <%= num_open("Mitchell") %>],
            ['resolved', <%= num_closed("Mitchell") %>],
        ],
        type : 'donut',
        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    },
    donut: {
        title: "Mitchell"
    },
    color: {
        pattern: ['#3498db', '#f39c12']
    }
});

});

</script>