<% cache(cache_key_for_inquiry_update) do %>
<div class="panel panel-default response-chart">
	<div class="panel-heading">Response and Completion Time</div>
	<div class="panel-body gauges">
    <div id="response_bar_chart" hidden="false"></div>
    <div class="loading_placeholder" hidden = "true">
    </div>
	</div>
</div>

<script>


function callEndPoint(){
  $.ajax({
    url: '/reporting/response_time',
    type: 'GET',
    dataType: 'json',
  })
  .done(function(data) {
    console.log("data is ");
    console.log(data);

    avg_response_audatex    = data.avg_response_audatex;
    avg_completion_audatex  = data.avg_completion_audatex;
    avg_response_ccc        = data.avg_response_ccc;
    avg_completion_ccc      = data.avg_completion_ccc;
    avg_response_mitchell   = data.avg_response_mitchell;
    avg_completion_mitchell = data.avg_completion_mitchell;
    generateChart();
  })
  .fail(function() {
    console.log("error");
  })
  .always(function() {
    console.log("complete");
  });
};

var avg_response_audatex    = <%= @report.avg_response_ccc.round %>,
    avg_completion_audatex  = <%= @report.avg_completion_ccc.round %> ,
    avg_response_ccc        = <%= @report.avg_response_ccc.round %>,
    avg_completion_ccc      = <%= @report.avg_completion_ccc.round %>,
    avg_response_mitchell   = <%= @report.avg_response_mitchell.round %>,
    avg_completion_mitchell = <%= @report.avg_completion_mitchell.round %>

function generateChart(){
  $("#response_bar_chart").show();
  $(".loading_placeholder").hide();

  
};



$(document).ready(function(){
  // callEndPoint();
  generateChart();

  var response_chart = c3.generate({
      bindto: "#response_bar_chart",
      data: {
          columns: [
              ['Audatex', avg_response_audatex, avg_completion_audatex],
              ['CCC', avg_response_ccc, avg_completion_ccc],
              ['Mitchell', avg_response_mitchell, avg_completion_mitchell]
          ],
          type: 'bar'
      },
      axis: {
        y: {
          label: {
             text: 'Days',
             position: 'outer-center',
          },
          tick: { format: d3.format("d") }
        },
        x: {
          type: 'category',
          categories: ['Avg Time Response','Avg Resolution Time']
        }
      },
      color: {
        pattern: ['#18bc9c', '#f39c12', '#e74c3c']
      }
    });

  $("#all-toggle").click(function(event) {
  event.preventDefault();

  response_chart.load({
    columns: [
              ['Audatex', avg_response_audatex, avg_completion_audatex],
              ['CCC', avg_response_ccc, avg_completion_ccc],
              ['Mitchell', avg_response_mitchell, avg_completion_mitchell]
          ]
  });

});

$("#week-toggle").click(function(event) {
  event.preventDefault();

  response_chart.load({
    columns: [
              ['Audatex', <%= @report.avg_response_audatex_week.round %>, <%= @report.avg_completion_audatex_week.round %>],
              ['CCC', <%= @report.avg_response_ccc_week.round %>, <%= @report.avg_completion_ccc_week.round %>],
              ['Mitchell', <%= @report.avg_response_mitchell_week.round %>, <%= @report.avg_completion_mitchell_week.round %>]
          ]
  });
  
});

$("#month-toggle").click(function(event) {
  event.preventDefault();

  response_chart.load({
    columns: [
              ['Audatex', <%= @report.avg_response_audatex_month.round %>, <%= @report.avg_completion_audatex_month.round %>],
              ['CCC', <%= @report.avg_response_ccc_month.round %>, <%= @report.avg_completion_ccc_month.round %>],
              ['Mitchell', <%= @report.avg_response_mitchell_month.round %>, <%= @report.avg_completion_mitchell_month.round %>]
          ]
  });
  
});

$("#quarter-toggle").click(function(event) {
  event.preventDefault();

  response_chart.load({
    columns: [
              ['Audatex', <%= @report.avg_response_audatex_quarter.round %>, <%= @report.avg_completion_audatex_quarter.round %>],
              ['CCC', <%= @report.avg_response_ccc_quarter.round %>, <%= @report.avg_completion_ccc_quarter.round %>],
              ['Mitchell', <%= @report.avg_response_mitchell_quarter.round %>, <%= @report.avg_completion_mitchell_quarter.round %>]
          ]
  });
  
});

$("#year-toggle").click(function(event) {
  event.preventDefault();

  response_chart.load({
    columns: [
              ['Audatex', <%= @report.avg_response_audatex_year.round %>, <%= @report.avg_completion_audatex_year.round %>],
              ['CCC', <%= @report.avg_response_ccc_year.round %>, <%= @report.avg_completion_ccc_year.round %>],
              ['Mitchell', <%= @report.avg_response_mitchell_year.round %>, <%= @report.avg_completion_mitchell_year.round %>]
          ]
  });
});
});

</script>
<% end %>