<style>
#chart text {
	font-size: 12px;
}


#audatex {
	background-color: red;
}

.panel-body .gauges {
	display: flex;
}

.gauge {
	display: flex;
	margin: 0px;
	width: 300px;
}

.c3-chart {
	background-color: red;
}

.donuts {
    display: flex;
    width:1000px;
}
.donut-column {
    width: 450px;
    margin: 15px;
}
.donut-right {
    margin-right: 50px;
}

.c3-chart-arcs-title {
    background-color: red;
    font-size: 25px;
}


</style>

<a class="btn btn-info" id="all-toggle">All</a>
<a class="btn btn-info" id="week-toggle">Week</a>
<a class="btn btn-info" id="month-toggle">Month</a>
<a class="btn btn-info" id="quarter-toggle">Quarter</a>
<a class="btn btn-info" id="year-toggle">Year</a>
<br><br>
<%= render partial: 'reporting_response_time' %>
<br>

<% cache(cache_key_for_inquiry_update) do %>
<div class="donuts">
<div class="panel panel-default donut-column donut-left">
	<div class="panel-heading">Original vs Repeat</div>
	<div class="panel-body">
		<div id="audatex_donut"></div>
		<div id="ccc_donut"></div>
		<div id="mitchell_donut"></div>
		
	</div>
</div>

<div class="panel panel-default donut-column donut-right">
    <div class="panel-heading">Open vs Resolved</div>
    <div class="panel-body">
        <div id="audatex_completed"></div>
        <div id="ccc_completed"></div>
        <div id="mitchell_completed"></div>
        
    </div>
</div>
</div>

<script>

$(document).ready(function(){
	console.log("doing it");

var audatex_donut = c3.generate({
		bindto: "#audatex_donut",
    data: {
        columns: [
            ['original', <%= @report.num_original_audatex_all %>],
            ['repeat', <%= @report.num_repeat_audatex_all %>],
        ],
        type : 'donut',
        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    },
    donut: {
        title: "Audatex"
    },
    color: {
        pattern: ['#3498db', '#f39c12']
    },
    label: {
        format: function (value, ratio, id) {
          return d3.format(value);
        }
      }
});

var ccc_donut = c3.generate({
	bindto: "#ccc_donut",
    data: {
        columns: [
            ['original', <%= @report.num_original_ccc_all %>],
            ['repeat', <%= @report.num_repeat_ccc_all %>],
        ],
        type : 'donut',
        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    },
    donut: {
        title: "CCC"
    },
    color: {
        pattern: ['#3498db', '#f39c12']
    }
});

var mitchell_donut = c3.generate({
	bindto: "#mitchell_donut",
    data: {
        columns: [
            ['original', <%= @report.num_original_mitchell_all %>],
            ['repeat', <%= @report.num_repeat_mitchell_all %>],
        ],
        type : 'donut',
        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    },
    donut: {
        title: "Mitchell"
    },
    color: {
        pattern: ['#3498db', '#f39c12']
    }
});

var audatex_completed = c3.generate({
        bindto: "#audatex_completed",
    data: {
        columns: [
            ['open', <%= @report.num_open_audatex_all %>],
            ['resolved', <%= @report.num_resolved_audatex_all %>],
        ],
        type : 'donut',
        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    },
    donut: {
        title: "Audatex"
    },
    color: {
        pattern: ['#3498db', '#f39c12']
    }
});

var ccc_completed = c3.generate({
        bindto: "#ccc_completed",
    data: {
        columns: [
            ['open', <%= @report.num_open_ccc_all %>],
            ['resolved', <%= @report.num_resolved_ccc_all %>],
        ],
        type : 'donut',
        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    },
    donut: {
        title: "CCC"
    },
    color: {
        pattern: ['#3498db', '#f39c12']
    }
});

var mitchell_completed = c3.generate({
        bindto: "#mitchell_completed",
    data: {
        columns: [
            ['open', <%= @report.num_open_mitchell_all %>],
            ['resolved', <%= @report.num_resolved_mitchell_all %>],
        ],
        type : 'donut',
        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    },
    donut: {
        title: "Mitchell"
    },
    color: {
        pattern: ['#3498db', '#f39c12']
    }
});


$("#all-toggle").click(function(event){
    event.preventDefault();
        console.log("all pressed");

    audatex_completed.load({
        columns:[
            ['open', <%= @report.num_open_audatex_all %>],
            ['resolved', <%= @report.num_resolved_audatex_all %>]
        ]
    });
    ccc_completed.load({
        columns:[
            ['open', <%= @report.num_open_ccc_all %>],
            ['resolved', <%= @report.num_resolved_ccc_all %>]
        ]
    });
    mitchell_completed.load({
        columns:[
            ['open', <%= @report.num_open_mitchell_all %>],
            ['resolved', <%= @report.num_resolved_mitchell_all %>]
        ]
    });
    audatex_donut.load({
        columns:[
            ['original', <%= @report.num_original_audatex_all %>],
            ['repeat', <%=@report.num_repeat_audatex_all %>],
        ]
    });
    ccc_donut.load({
        columns:[
            ['original', <%= @report.num_original_ccc_all %>],
            ['repeat', <%=@report.num_repeat_ccc_all %>],
        ]
    });
    mitchell_donut.load({
        columns:[
            ['original', <%= @report.num_original_mitchell_all %>],
            ['repeat', <%=@report.num_repeat_mitchell_all %>],
        ]
    });
});


$("#week-toggle").click(function(event){
    event.preventDefault();
    audatex_completed.load({
        columns:[
            ['open', <%= @report.num_open_audatex_week %>],
            ['resolved', <%= @report.num_resolved_audatex_week %>]
        ]
    });
    ccc_completed.load({
        columns:[
            ['open', <%= @report.num_open_ccc_week %>],
            ['resolved', <%= @report.num_resolved_ccc_week %>]
        ]
    });
    mitchell_completed.load({
        columns:[
            ['open', <%= @report.num_open_mitchell_week %>],
            ['resolved', <%= @report.num_resolved_mitchell_week %>]
        ]
    });
    audatex_donut.load({
        columns:[
            ['original', <%= @report.num_original_audatex_week %>],
            ['repeat', <%=@report.num_repeat_audatex_week %>],
        ]
    });
    ccc_donut.load({
        columns:[
            ['original', <%= @report.num_original_ccc_week %>],
            ['repeat', <%=@report.num_repeat_ccc_week %>],
        ]
    });
    mitchell_donut.load({
        columns:[
            ['original', <%= @report.num_original_mitchell_week %>],
            ['repeat', <%=@report.num_repeat_mitchell_week %>],
        ]
    });
});

$("#quarter-toggle").click(function(event){
    event.preventDefault();
    audatex_completed.load({
        columns:[
            ['open', <%= @report.num_open_audatex_quarter %>],
            ['resolved', <%= @report.num_resolved_audatex_quarter %>]
        ]
    });
    ccc_completed.load({
        columns:[
            ['open', <%= @report.num_open_ccc_quar %>],
            ['resolved', <%= @report.num_resolved_ccc_quar %>]
        ]
    });
    mitchell_completed.load({
        columns:[
            ['open', <%= @report.num_open_mitchell_quar %>],
            ['resolved', <%= @report.num_resolved_mitchell_quar %>]
        ]
    });
    audatex_donut.load({
        columns:[
            ['original', <%= @report.num_original_audatex_quarter %>],
            ['repeat', <%=@report.num_repeat_audatex_quarter %>],
        ]
    });
    ccc_donut.load({
        columns:[
            ['original', <%= @report.num_original_ccc_quarter %>],
            ['repeat', <%=@report.num_repeat_ccc_quarter %>],
        ]
    });
    mitchell_donut.load({
        columns:[
            ['original', <%= @report.num_original_mitchell_quarter %>],
            ['repeat', <%=@report.num_repeat_mitchell_quarter %>],
        ]
    });
});

$("#month-toggle").click(function(event){
    event.preventDefault();
    audatex_completed.load({
        columns:[
            ['open', <%= @report.num_open_audatex_month %>],
            ['resolved', <%= @report.num_resolved_audatex_month %>]
        ]
    });
    ccc_completed.load({
        columns:[
            ['open', <%= @report.num_open_ccc_month %>],
            ['resolved', <%= @report.num_resolved_ccc_month %>]
        ]
    });
    mitchell_completed.load({
        columns:[
            ['open', <%= @report.num_open_mitchell_month %>],
            ['resolved', <%= @report.num_resolved_mitchell_month %>]
        ]
    });
    audatex_donut.load({
        columns:[
            ['original', <%= @report.num_original_audatex_month %>],
            ['repeat', <%=@report.num_repeat_audatex_month %>],
        ]
    });
    ccc_donut.load({
        columns:[
            ['original', <%= @report.num_original_ccc_month %>],
            ['repeat', <%=@report.num_repeat_ccc_month %>],
        ]
    });
    mitchell_donut.load({
        columns:[
            ['original', <%= @report.num_original_mitchell_month %>],
            ['repeat', <%=@report.num_repeat_mitchell_month %>],
        ]
    });
});

$("#year-toggle").click(function(event){
    event.preventDefault();
    audatex_completed.load({
        columns:[
            ['open', <%= @report.num_open_audatex_year %>],
            ['resolved', <%= @report.num_resolved_audatex_year %>]
        ]
    });
    ccc_completed.load({
        columns:[
            ['open', <%= @report.num_open_ccc_year %>],
            ['resolved', <%= @report.num_resolved_ccc_year %>]
        ]
    });
    mitchell_completed.load({
        columns:[
            ['open', <%= @report.num_open_mitchell_year %>],
            ['resolved', <%= @report.num_resolved_mitchell_year %>]
        ]
    });
    audatex_donut.load({
        columns:[
            ['original', <%= @report.num_original_audatex_year %>],
            ['repeat', <%=@report.num_repeat_audatex_year %>],
        ]
    });
    ccc_donut.load({
        columns:[
            ['original', <%= @report.num_original_ccc_year %>],
            ['repeat', <%=@report.num_repeat_ccc_year %>],
        ]
    });
    mitchell_donut.load({
        columns:[
            ['original', <%= @report.num_original_mitchell_year %>],
            ['repeat', <%=@report.num_repeat_mitchell_year %>],
        ]
    });
});



});

</script>

<% end %>