<style>
.c3-axis-x{
	stroke-width: 1px;
}

.c3-line {
	fill: none;
}

.active-button {
  background-color: #333333;
  border-color: #333333;
}

.c3-line {
 stroke-width: 5px;
}

.concept {
  font-size: 40px;
  display: flex;
  align-items: center;
  text-align: center;
}

.concept .column {
  width: 100px;
  /*margin: auto;*/
}

.concept .subtitle {
  font-size: 15px;
}
.database {
  padding-left: 50px;
}

.date-form {
  display: flex;
  align-items: flex-end;
  margin-left: 250px;
}

.date-form .form-control {
  display: flex;
  width: 150px;
  margin-right: 10px;
}

.chart-header {
  display: flex;
}

.chart-edit-buttons {
  margin-top: 35px;
}

#chart {
  margin-top: 10px;
  height: 200px;
}
</style>

<script>
$(function(){
  $('#date_end').datepicker({ dateFormat: 'yy-mm-dd'});
})
</script>
<div class="panel panel-default">
  	<div class="panel-heading">IP</div>
  	<div class="panel-body">
      <div class="chart-header">
  		<div class="chart-edit-buttons">
  			<a class="btn btn-info active-button" id="All">All</a>
  			<a class="btn btn-info" id="Week">Week</a>
  			<a class="btn btn-info" id="Month">Month</a>
  			<a class="btn btn-info" id="Quarter">Quarter</a>
  			<a class="btn btn-info" id="Year">Year</a>
  		</div>
          <%= form_tag reporting_path, :method => 'get', :class => 'date-form' do %>
            <div class="date-field">
            <%= label :date_end, "End Date" %>
            <%= text_field_tag :date_end,params[:date_end], :class => 'form-control', :id => 'date_end' %>
            </div>
            <div class="date-submit">
            <%= submit_tag "Apply", class: "btn btn-primary date-submit", html: { type: "submit", id: "date-submit"} %>
            </div>
          <% end %>
      </div>
  		<br>
  		  <div id="chart"></div>
  		  <br>
  		  <div class="stats">
  		  	<div class="database">
  		  		<h4>Audatex</h4>
  		  		<div class="content concept audatex">
              <div class="right-content column">
                  <div class="pct_submitted"><%= num_submitted("Audatex", nil, params[:date_end]) %></div>
                  <div class="subtitle">inquiries submitted</div>
              </div>
              <div class="left-content column">
                  <div class="num_unsubmitted"><%= num_unsubmitted("Audatex", nil, params[:date_end])%></div>
                  <div class="subtitle">inquiries not submitted</div>
              </div>
  		  		</div>

  		  	</div>
  		  	<div class="database">
  		  		<h4>CCC</h4>
            <div class="content concept ccc">
              <div class="right-content column">
                  <div class="pct_submitted"><%= num_submitted("CCC", nil, params[:date_end]) %></div>
                  <div class="subtitle">inquiries submitted</div>
              </div>
              <div class="left-content column">
                  <div class="num_unsubmitted"><%= num_unsubmitted("CCC", nil, params[:date_end])%></div>
                  <div class="subtitle">inquiries not submitted</div>
              </div>
            </div>
  		  	</div>
  		  	<div class="database">
  		  		<h4>Mitchell</h4>
            <div class="content concept mitchell">
              <div class="right-content column">
                  <div class="pct_submitted"><%= num_submitted("Mitchell", nil, params[:date_end]) %></div>
                  <div class="subtitle">inquiries submitted</div>
              </div>
              <div class="left-content column">
                  <div class="num_unsubmitted"><%= num_unsubmitted("Mitchell", nil, params[:date_end])%></div>
                  <div class="subtitle">inquiries not submitted</div>
              </div>
            </div>
  		  	</div>
  		  </div>
  	</div>
  </div>



<script>

<% new_inquiries_test %>

var formatter;

function updateFormatter(byMonth) {
  formatter = d3.time.format(byMonth ? '%Y-%m' : '%Y-%m-%d')

}

updateFormatter(true);

var chart = c3.generate({
    bindto: '#chart',
    data: {
      x: 'x',
      columns: <%=raw new_inquiries_all(params[:date_end]) %>
    },
    axis: {
      x: {
        type: 'timeseries',
        tick: {
            format: function (x) { // x comes in as a time string.
              return formatter(x);
            }
        }
      }
    },
  color: {
    pattern: ['#18bc9c', '#f39c12', '#e74c3c']
  }

});

$("#All").click(function(event) {
  updateFormatter(true);
  event.preventDefault();
  chart.load({
    columns: <%=raw new_inquiries_all(params[:date_end]) %>,
    unload: ['x', 'Audatex', 'Mitchell', 'CCC']
  });
  $(".audatex .pct_submitted").text("<%= num_submitted("Audatex", nil, params[:date_end]) %>");
  $(".audatex .num_unsubmitted").text("<%= num_unsubmitted("Audatex", nil, params[:date_end])%>");
  $(".ccc .pct_submitted").text("<%= num_submitted("CCC", nil, params[:date_end]) %>");
  $(".ccc .num_unsubmitted").text("<%= num_unsubmitted("CCC", nil, params[:date_end])%>");
  $(".mitchell .pct_submitted").text("<%= num_submitted("Mitchell", nil, params[:date_end]) %>");
  $(".mitchell .num_unsubmitted").text("<%= num_unsubmitted("Mitchell", nil, params[:date_end])%>");
});

$("#Week").click(function(event) {
  event.preventDefault();
  updateFormatter(false);
  chart.load({
    columns: <%=raw new_inquiries_week(params[:date_end]) %>,
    unload: ['x', 'Audatex', 'Mitchell', 'CCC']
  });
  $(".audatex .pct_submitted").text("<%= num_submitted("Audatex", "Week", params[:date_end]) %>");
  $(".audatex .num_unsubmitted").text("<%= num_unsubmitted("Audatex", "Week", params[:date_end])%>");
  $(".ccc .pct_submitted").text("<%= num_submitted("CCC", "Week", params[:date_end]) %>");
  $(".ccc .num_unsubmitted").text("<%= num_unsubmitted("CCC", "Week", params[:date_end])%>");
  $(".mitchell .pct_submitted").text("<%= num_submitted("Mitchell", "Week", params[:date_end]) %>");
  $(".mitchell .num_unsubmitted").text("<%= num_unsubmitted("Mitchell", "Week", params[:date_end])%>");

});

$("#Month").click(function(event) {
  event.preventDefault();
  updateFormatter(false);
  chart.load({
    columns: <%=raw new_inquiries_month(params[:date_end]) %>,
    unload: ['x', 'Audatex', 'Mitchell', 'CCC']
  });

  $(".audatex .pct_submitted").text("<%= num_submitted("Audatex", "Month", params[:date_end]) %>");
  $(".audatex .num_unsubmitted").text("<%= num_unsubmitted("Audatex", "Month", params[:date_end])%>");
  $(".ccc .pct_submitted").text("<%= num_submitted("CCC", "Month", params[:date_end]) %>");
  $(".ccc .num_unsubmitted").text("<%= num_unsubmitted("CCC", "Month", params[:date_end])%>");
  $(".mitchell .pct_submitted").text("<%= num_submitted("Mitchell", "Month", params[:date_end]) %>");
  $(".mitchell .num_unsubmitted").text("<%= num_unsubmitted("Mitchell", "Month", params[:date_end])%>");

});

$("#Quarter").click(function(event) {
  updateFormatter(false);
  event.preventDefault();
  chart.load({
    columns: <%=raw new_inquiries_quarter(params[:date_end]) %>,
    unload: ['x', 'Audatex', 'Mitchell', 'CCC']
  });
  $(".audatex .pct_submitted").text("<%= num_submitted("Audatex", "Quarter", params[:date_end]) %>");
  $(".audatex .num_unsubmitted").text("<%= num_unsubmitted("Audatex", "Quarter", params[:date_end])%>");
  $(".ccc .pct_submitted").text("<%= num_submitted("CCC", "Quarter", params[:date_end]) %>");
  $(".ccc .num_unsubmitted").text("<%= num_unsubmitted("CCC", "Quarter", params[:date_end])%>");
  $(".mitchell .pct_submitted").text("<%= num_submitted("Mitchell", "Quarter", params[:date_end]) %>");
  $(".mitchell .num_unsubmitted").text("<%= num_unsubmitted("Mitchell", "Quarter", params[:date_end])%>");
});

$("#Year").click(function(event) {
  updateFormatter(true);
  event.preventDefault();
  chart.load({
    columns: <%=raw new_inquiries_year(params[:date_end]) %>,
    unload: ['x', 'Audatex', 'Mitchell', 'CCC']
  });

  console.log("<%= inquiries_for_timeframe("Audatex", "Year").first.id %>")

  $(".audatex .pct_submitted").text("<%= num_submitted("Audatex", "Year", params[:date_end]) %>");
  $(".audatex .num_unsubmitted").text("<%= num_unsubmitted("Audatex", "Year", params[:date_end])%>");
  $(".ccc .pct_submitted").text("<%= num_submitted("CCC", "Year", params[:date_end]) %>");
  $(".ccc .num_unsubmitted").text("<%= num_unsubmitted("CCC", "Year", params[:date_end])%>");
  $(".mitchell .pct_submitted").text("<%= num_submitted("Mitchell", "Year", params[:date_end]) %>");
  $(".mitchell .num_unsubmitted").text("<%= num_unsubmitted("Mitchell", "Year", params[:date_end])%>");
});

var reset = function(){
  console.log("test");

}

reset();

$("a.btn-info").click(function(event) {
  /* Act on the event */
  $("a.btn-info").removeClass("active-button");
  $(this).addClass("active-button");

});




</script>

  <br>
  <div class="panel panel-default">
  	<div class="panel-heading">Not Submitted Inquiries (<%= @inquiries.count %>)</div>
  	<div class="panel-body">
	  	<a href="/reporting" class="btn btn-info">All</a>
			<a href="/reporting?database=Audatex" class="btn btn-info">Audatex</a>
			<a href="/reporting?database=CCC" class="btn btn-info">CCC</a>
			<a href="/reporting?database=Mitchell" class="btn btn-info">Mitchell</a>
			<br><br>
		  <% if @inquiries.count != 0 %>
      <%= will_paginate @inquiries %>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th><%= sortable 'id', "#", params[:status] %></th>
            <th><%= sortable 'database', 'Estimating Platform', params[:status] %></th>
            <th><%= sortable 'inquiry_type', 'Inquiry Type', params[:status] %></th>
            <th><%= sortable 'year', 'Vehicle', params[:status] %></th>
            <th>Inquiry Description</th>
            <th><%= sortable 'status', 'Status', params[:status] %></th>
            <th>Resolution</th>
            <th><%= sortable 'created_at', 'Origination Date', params[:status] %></th>
            <th><%= sortable 'submit_to_ip_date', 'Submission Date', params[:status] %></th>
            <th><%= sortable 'resolution_date', 'Resolution Date', params[:status] %></th>
            <th>Total Time To Resolve</th>
          </tr>
        </thead>
        <tbody>

        <% @inquiries.each do |inquiry| %>
          <tr>
            <td><%= link_to inquiry.id, inquiry_path(inquiry) %></td>
            <td><%= inquiry.database %></td>
            <td><%= inquiry.inquiry_type %></td>
            <td><%= inquiry.year %> <%= inquiry.make %> <%= inquiry.model %></td>
            <td><img class="icon icons8-Search-Filled" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAA0klEQVQoU62SjQ0BURCEv6uADlABOqACSqADKqAEHaADJdDBdUAJVEBGdi/vbZzchU1e7uftTGZmt+CHKgJ2AmwAPVV34ASs7T1rT8ELYA8cgYM194Et0AHGkcDBaroCSwNGM2fgCUzTCwfvgFEiN4KdfADc/NLBYtaRxLqSf1lTBu/6C1iyh9FTIuGr7CaByatkV/VpVBqTzgPoWQ4KszRl8p559m8txwqY2Q8RyNLcbGUEccPqku7aNJRLRdAULNKU4KKdaAN2As1Z1sq24MzWC9IUMRAfAtjoAAAAAElFTkSuQmCC" width="15" height="15" title="<%= inquiry.description_tooltip %>"> <%= inquiry.area_of_vehicle %></td>
            <td><%= inquiry.status %></td>
            <td><% if inquiry.resolution != nil %>
                  <img class="icon icons8-Search-Filled" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAA0klEQVQoU62SjQ0BURCEv6uADlABOqACSqADKqAEHaADJdDBdUAJVEBGdi/vbZzchU1e7uftTGZmt+CHKgJ2AmwAPVV34ASs7T1rT8ELYA8cgYM194Et0AHGkcDBaroCSwNGM2fgCUzTCwfvgFEiN4KdfADc/NLBYtaRxLqSf1lTBu/6C1iyh9FTIuGr7CaByatkV/VpVBqTzgPoWQ4KszRl8p559m8txwqY2Q8RyNLcbGUEccPqku7aNJRLRdAULNKU4KKdaAN2As1Z1sq24MzWC9IUMRAfAtjoAAAAAElFTkSuQmCC" width="15" height="15" title="<%= inquiry.resolution%>">
                <% end %>
            </td>
            <td><%= inquiry.created_at.strftime("%-m/%-d/%y") %></td>
            <td><% if inquiry.submit_to_ip_date != nil %>
                  <%= inquiry.submit_to_ip_date.strftime("%-m/%-d/%y") %>
                <% end %></td>
            <td><% if inquiry.resolution_date != nil %>
                  <%= inquiry.resolution_date.strftime("%-m/%-d/%y") %>
                <% end %></td>
            <td><%= inquiry.time_to_resolve_days %></td>
          
          </tr>
        <% end %>

        </tbody>
      </table>
      <% else %>
        <p>0 records match your search. Please try again.</p>
      <% end %>
    </div>
    <%= will_paginate @inquiries %>
  	</div>