<div class="btn-group btn-group-justified">
      <%= render partial: 'status_button', locals: {status: "All"} %>
      <%= render partial: 'status_button', locals: {status: "Received by DEG"} %>
      <%= render partial: 'status_button', locals: {status: "Submitted to IP"} %>
      <%= render partial: 'status_button', locals: {status: "IP Response Received"} %>
      <%= render partial: 'status_button', locals: {status: "Resolved (IP Change)"} %>
      <%= render partial: 'status_button', locals: {status: "Resolved (No IP Change)"} %>
      <%= render partial: 'status_button', locals: {status: "Resolved (DEG Response)"} %>
</div>

<script>
  $.ajax({
    url: '/reporting/inquiry_counts',
    type: 'GET',
    dataType: 'json',
  })
  .done(function(data) {
    console.log("success");
    console.log(data);
    $("#allCount").text(data.all);
    $("#receivedCount").text(data.received);
    $("#submittedCount").text(data.submitted);
    $("#responseCount").text(data.responded);
    $("#ipChangeCount").text(data.ip_change);
    $("#noChangeCount").text(data.no_change);
    $("#degResolvedCount").text(data.deg_response);
  })
  .fail(function() {
    console.log("error getting inquiry counts");
  })
</script>