
<% @chosen_status = status %>
<% case status %>
<% when 'All' %>

      <a href="/inquiries" class="<%= btn_class_for_status %>">
        <div class="title"></div>
        <div class="title">All</div>
        <div><%= Inquiry.all.count %></div>
      </a>

<% when 'Received by DEG' %>

      <a href="/inquiries?status=Received+by+DEG" class="<%= btn_class_for_status %>">
        <div class="title">Received</div>
        <div class="title">by DEG</div>
        <div><%= Inquiry.where(status: 'Received by DEG').count %></div>
      </a>

<% when 'Submitted to IP' %>

      <a href="/inquiries?status=Submitted+to+IP" class="<%= btn_class_for_status %>">
        <div class="title">Submitted</div>
        <div class="title">to IP</div>
        <div><%= Inquiry.where(status: 'Submitted to IP').count %></div>
      </a>

<% when 'IP Response Received' %>

      <a href="/inquiries?status=IP+Response+Received" class="<%= btn_class_for_status %>">
        <div class="title">IP Response</div>
        <div class="title">Received</div>
        <div><%= Inquiry.where(status: 'IP Response Received').count %></div>
      </a>

<% when 'Resolved (IP Change)' %>

      <a href="/inquiries?status=Resolved+(IP+Change)" class="<%= btn_class_for_status %>">
        <div class="title">Resolved</div>
        <div class="title">(IP Change)</div>
        <div><%= Inquiry.where(status: 'Resolved (IP Change)').count %></div>
      </a>

<% when 'Resolved (No IP Change)' %>

      <a href="/inquiries?status=Resolved+(No+IP+Change)" class="<%= btn_class_for_status %>">
        <div class="title">Resolved</div>
        <div class="title">(No IP Change)</div>
        <div><%= Inquiry.where(status: 'Resolved (No IP Change)').count %></div>
      </a>

<% else %>

<% end %>