
<% @chosen_status = status %>
<% case status %>
<% when 'All' %>

      <a href="/inquiries" class="<%= btn_class_for_status %>">
        <div class="title"></div>
        <div class="title">All</div>
        <% if logged_in? %>
          <div id="allCount"><%= @report.all_count %></div>
        <% else %>
          <div id="allCount"><%= @inquiries.where(show_on_web: true).count %></div>
        <% end %>
      </a>

<% when 'Received by DEG' %>

      <a href="/inquiries?status=Received+by+DEG" class="<%= btn_class_for_status %>">
        <div class="title">Received</div>
        <div class="title">by DEG</div>
        <div id="receivedCount"><%= @report.received_count %></div>
      </a>

<% when 'Submitted to IP' %>

      <a href="/inquiries?status=Submitted+to+IP" class="<%= btn_class_for_status %>">
        <div class="title">Submitted</div>
        <div class="title">to IP</div>
        <div id="submittedCount"><%= @report.submitted_count %></div>
      </a>

<% when 'IP Response Received' %>

      <a href="/inquiries?status=IP+Response+Received" class="<%= btn_class_for_status %>">
        <div class="title">IP Response</div>
        <div class="title">Received</div>
        <div id="responseCount"><%= @report.responded_count %></div>
      </a>

<% when 'Resolved (IP Change)' %>

      <a href="/inquiries?status=Resolved+(IP+Change)" class="<%= btn_class_for_status %>">
        <div class="title">Resolved</div>
        <div class="title">(IP Change)</div>
        <div id="ipChangeCount"><%= @report.ip_change_count %></div>
      </a>

<% when 'Resolved (No IP Change)' %>

      <a href="/inquiries?status=Resolved+(No+IP+Change)" class="<%= btn_class_for_status %>">
        <div class="title">Resolved</div>
        <div class="title">(No IP Change)</div>
        <div id="noChangeCount"><%= @report.no_change_count %></div>
      </a>

<% else %>

<% end %>