<%= form_for @inquiry, url: {action: "edit_vehicle"}, html: {class: ""} do |f| %>
  <div class="form-field">
    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-lg-3 form-label">
          <span class="form-required">* </span><%= f.label :make %>
        </div>
        <div class="col-lg-9">
          <%= f.select(:make, car_makes, {}, {class: 'form-control'}) %>
          <%= f.text_field :make_other_field, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-3 form-label">
          <span class="form-required">* </span><%= f.label :model %>
        </div>
        <div class="col-lg-9">
          <%= f.text_field :model, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-3 form-label">
          <span class="form-required">* </span><%= f.label :year %>
        </div>
        <div class="col-lg-9">
          <%= f.select(:year, car_years, {}, {class: 'form-control'}) %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :body_type, :class => "col-lg-3 form-label" %>
        <div class="col-lg-9">
          <%= f.select(:body_type, car_body_types, {}, {class: 'form-control'}) %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-3 form-label">
          <span class="form-required">* </span><%= f.label :vin %>
        </div>
        <div class="col-lg-9">
          <%= f.text_field :vin, :class => "form-control" %>
        </div>
      </div>
    </div>
	<%= f.submit "Save", class: "btn btn-primary btn-submit", html: { type: "submit", id: "vehicle-submit"} %>
<% end %>