<%= render 'shared/header' %>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
$(function() {
    $( document ).tooltip();
  });
</script>
<style>

.panel-status {
  width: 920px;
  display: flex;
  background-color: white;
  align-items: center;
  height: 100px;
  margin: 10px;
  padding: 10px;
}

.btn-status {
  height: 95px;
}

.panel-search {

  width: 920px;
  height: 100px;
  margin: 10px;
  padding: 20px;
}

.search-item {
  width: 500px;
  margin-right: 10px;
}

.search-box {
  display: flex;
  align-items: flex-end;
}

.ui-tooltip {
  width: 300px;
  white-space: pre-line;
  font-size: 11px;
}


</style>
<div class="container">

  <ul class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab">Request Queue</a></li>
    <li><a href="#home" data-toggle="tab">Reporting</a></li>
  </ul>

  <br>

  <div class="panel panel-default panel-search">
  <%= render 'inquiries/query_form.html.erb' %>
  </div>
  <br>
  <div class="panel panel-default panel-status">

    <div class="btn-group btn-group-justified">

      <a href="/inquiries" class="btn btn-default btn-status">
        <div class="title"></div>
        <div class="title">All</div>
        <div><%= Inquiry.all.count %></div>
      </a>

      <a href="/inquiries?status=Received+by+DEG" class="btn btn-default btn-status">
        <div class="title">Received</div>
        <div class="title">by DEG</div>
        <div><%= Inquiry.where(status: 'Received by DEG').count %></div>
      </a>

      <a href="/inquiries?status=Submitted+to+IP" class="btn btn-default btn-status">
        <div class="title">Submitted</div>
        <div class="title">to IP</div>
        <div><%= Inquiry.where(status: 'Submitted to IP').count %></div>
      </a>

      <a href="/inquiries?status=IP+Response+Received" class="btn btn-default btn-status">
        <div class="title">IP Response</div>
        <div class="title">Received</div>
        <div><%= Inquiry.where(status: 'IP Response Received').count %></div>
      </a>

      <a href="/inquiries?status=Resolved+(IP+Change)" class="btn btn-default btn-status">
        <div class="title">Resolved</div>
        <div class="title">(IP Change)</div>
        <div><%= Inquiry.where(status: 'Resolved (IP Change)').count %></div>
      </a>

      <a href="/inquiries?status=Resolved+(No+IP+Change)" class="btn btn-default btn-status">
        <div class="title">Resolved</div>
        <div class="title">(No IP Change)</div>
        <div><%= Inquiry.where(status: 'Resolved (No IP Change)').count %></div>
      </a>



    </div>

  </div>


  <div class="content-box">


<!--       <div class="panel panel-default checklist">
        <div class="panel-heading">Checklist</div>
        <div class="panel-body">

        <%= render 'inquiries/query_form.html.erb' %>
        </div>
      </div> -->

    <!-- <div class="left-content"> -->
    <!-- </div> -->
    <div class="panel panel-default right-content">
      <div class="panel-heading">Results (<%= @inquiries.count %>)</div>
      <div class="panel-body">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Estimating Platform</th>
              <th>Inquiry Type</th>
              <th>Vehicle</th>
              <th>Inquiry Description</th>
              <th>Status</th>
              <th>Resolution</th>
              <th>Origination Date</th>
              <th>Submission Date</th>
              <th>Resolution Date</th>
              <th>Total Time To Resolve</th>
            </tr>
          </thead>
          <tbody>

          <% @inquiries.each do |inquiry| %>
            <tr>
              <td><%= link_to inquiry.id, inquiry_path(inquiry) %></td>
              <td><%= inquiry.database %></td>
              <td><%= inquiry.inquiry_type %></td>
              <td><%= inquiry.year %> <%= inquiry.make %> <%= inquiry.model %></td>
              <td><img class="icon icons8-Search-Filled" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAA0klEQVQoU62SjQ0BURCEv6uADlABOqACSqADKqAEHaADJdDBdUAJVEBGdi/vbZzchU1e7uftTGZmt+CHKgJ2AmwAPVV34ASs7T1rT8ELYA8cgYM194Et0AHGkcDBaroCSwNGM2fgCUzTCwfvgFEiN4KdfADc/NLBYtaRxLqSf1lTBu/6C1iyh9FTIuGr7CaByatkV/VpVBqTzgPoWQ4KszRl8p559m8txwqY2Q8RyNLcbGUEccPqku7aNJRLRdAULNKU4KKdaAN2As1Z1sq24MzWC9IUMRAfAtjoAAAAAElFTkSuQmCC" width="15" height="15" title="<%= inquiry.description_tooltip %>"></td>
              <td><%= inquiry.status %></td>
              <td><% if inquiry.resolution != nil %>
                    <img class="icon icons8-Search-Filled" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAA0klEQVQoU62SjQ0BURCEv6uADlABOqACSqADKqAEHaADJdDBdUAJVEBGdi/vbZzchU1e7uftTGZmt+CHKgJ2AmwAPVV34ASs7T1rT8ELYA8cgYM194Et0AHGkcDBaroCSwNGM2fgCUzTCwfvgFEiN4KdfADc/NLBYtaRxLqSf1lTBu/6C1iyh9FTIuGr7CaByatkV/VpVBqTzgPoWQ4KszRl8p559m8txwqY2Q8RyNLcbGUEccPqku7aNJRLRdAULNKU4KKdaAN2As1Z1sq24MzWC9IUMRAfAtjoAAAAAElFTkSuQmCC" width="15" height="15" title="<%= inquiry.resolution%>">
                  <% end %>
              </td>
              <td><%= inquiry.created_at.strftime("%-m/%-d/%y") %></td>
              <td><% if inquiry.submit_to_ip_date != nil %>
                    <%= inquiry.submit_to_ip_date.strftime("%-m/%-d/%y") %>
                  <% end %></td>
              <td><% if inquiry.resolution_date != nil %>
                    <%= inquiry.resolution_date.strftime("%-m/%-d/%y") %>
                  <% end %></td>
              <td><%= inquiry.time_to_resolve_days %></td>
            
            </tr>
          <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>