<%= render 'shared/header' %>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
$(function() {
    $( document ).tooltip();

    $('#date_start').datepicker({ dateFormat: 'yy-mm-dd'});
    $('#date_end').datepicker({ dateFormat: 'yy-mm-dd'});
  });


</script>
<style>

.panel-status {
  width: 920px;
  display: flex;
  background-color: white;
  align-items: center;
  height: 100px;
  margin: 10px;
  padding: 10px;
}

.btn-status {
  height: 95px;
}

.panel-search {

  width: 920px;
  height: 100px;
  margin: 10px;
  padding: 20px;
}

.search-item {
  width: 500px;
  margin-right: 10px;
}

.search-box {
  display: flex;
  align-items: flex-end;
}

.ui-tooltip {
  width: 300px;
  white-space: pre-line;
  font-size: 11px;
}

th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

th .asc {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAUUlEQVQYV6XQ0QkAIAgE0HODRm2URm2EuOhEw48gP/UpquEx7NGhgu00zzjkhkTjgA7AcYRCBAw2OBaMSFNSjrBCWs9rgiyk5cMh+7iv95SvXcNvDiv20PNDAAAAAElFTkSuQmCC");
}

th .desc {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATklEQVQYV2NkIBIwEqmOAaRQAKr4Aw5NYHmYwgkMDAwFDAwM6IpBisByMKvhAkiKUcSQ3YgsAbINxRZ0z8AUgxSiOAWbr7F6jqTgISooAXv+Div1AkyaAAAAAElFTkSuQmCC");
}

div.pagination {
  margin: 0;
  margin-left: 5px;
}

.btn-status.selected {
  background-color: #333333;
}

.filter-item {
  /*width: 100px;*/
  margin-right: 5px;
  margin-left: 5px;
}

.filter-box {
  display: flex;
  margin: 5px;
  padding-bottom: 5px;
}

#filter_date_type {
  width: 150px;
}

.filter-submit {
  margin-left: 10px;
}

#btn-clear {
  margin-left: 5px;
}

</style>
<div class="container">

  <ul class="nav nav-tabs">
    <li class="active"><a href="/inquiries" data-toggle="tab">Request Queue</a></li>
    <li><a href="/reporting" data-toggle="tab">Reporting</a></li>
  </ul>

  <br>

  <div class="panel panel-default panel-search">
    <%= render 'inquiries/query_form.html.erb' %>
  </div>
  <br>
  <div class="panel panel-default panel-status">
    <div class="btn-group btn-group-justified">
      <%= render partial: 'status_button', locals: {status: "All"} %>
      <%= render partial: 'status_button', locals: {status: "Received by DEG"} %>
      <%= render partial: 'status_button', locals: {status: "Submitted to IP"} %>
      <%= render partial: 'status_button', locals: {status: "IP Response Received"} %>
      <%= render partial: 'status_button', locals: {status: "Resolved (IP Change)"} %>
      <%= render partial: 'status_button', locals: {status: "Resolved (No IP Change)"} %>
    </div>
  </div>
  
  <div class="panel panel-default right-content">
    <div class="panel-heading">Filter</div>
    <div class="panel-body">
      <%= render 'inquiries/filter_form.html.erb' %>
    </div>
  </div>


  <div class="content-box">

    <div class="panel panel-default right-content">
      <div class="panel-heading">Results (<%= @inquiries.count %>) </div>
      <div class="panel-body">

    </div>
  </div>
</div>
<%= render 'shared/footer' %>