<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<%= render 'shared/header' %>
<!-- <script src="assets/c3.js"></script>
<script src="assets/d3.min.js"></script>
<stylesheet src="assets/c3.min.css"></stylesheet -->

<style>
#chart {
	height: 200px;
}
.stats {
	display: flex;
	justify-content: center;
}
.stats .database {
	width: 400px;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
}
.database .content {
	display: flex;
	width: 200px;
}

h4 {
	padding-left: 75px;
}

.btn-default.selected {
  background-color: #333333;
}
</style>

<script>
$('a#inquiries_link').click(function(event) {
  console.log("test");
  $('body').load("/inquiries");

});

</script>



<div class="container">

  <ul class="nav nav-pills">
    <li><a href="/inquiries">Request Queue</a></li>
    <li class="active"><a href="/reporting">Reporting</a></li>
  </ul>

  <br>

  <div class="btn-group btn-group-justified">
      <%= render partial: 'reporting_button', locals: {report: "New Inquiries"} %>
      <%= render partial: 'reporting_button', locals: {report: "Resolved Inquiries"} %>
      <%= render partial: 'reporting_button', locals: {report: "Aging Inquiries"} %>
      <%= render partial: 'reporting_button', locals: {report: "Export as Report"} %>
  </div>
  <br>
  <% if params[:type] === "Resolved Inquiries" %>
  	<%= render partial: 'reporting_resolved' %>
  <% elsif params[:type] === "Aging Inquiries" %>
  	<%= render partial: 'reporting_aging' %>
  <% elsif params[:type] === "Export as Report" %>
  	<%= render partial: 'reporting_export' %>
  <% else %>
  	<%= render partial: 'reporting_new_inquiries' %>
  <% end %>
  
  </div>






<%= render 'shared/footer' %>